{######################################}
{# CONTEXT:                           #}
{# * submission                       #}
{# * review_stats #}
{######################################}
{% load review_extras %}
{% load submission_extras %}
{% load proceedings_extras %}

{% with decision=submission|review_decision_of  %}
{% with decision_type=decision.decision_type %}
{% with quality=review_stats|quality_of:submission %}
{% with warnings=submission|submission_warnings %}

<div class="dccn-feed-item">
  <div class="dccn-feed-item-top">
    <div class="dccn-feed-item-label dccn-feed-item-conf mr-3">{{ submission.conference.short_name }}</div>
    <div class="ml-auto"></div>
    <div class="dccn-feed-item-label dccn-feed-item-score text-{{ quality|quality_color }}" data-toggle="tooltip" title="Review score">
      <i class="far fa-star"></i> <span class="font-weight-lighter">{{ submission|average_score|default:"?" }}</span>
    </div>
    {% if warnings %}
      <div class="dccn-feed-item-label mr-2">
        <i class="fas fa-exclamation-triangle text-warning"></i> {{ warnings|length }}
      </div>
    {% endif %}
    {% if decision_type %}
      <div class="border bg-light border-secondary text-dark rounded d-inline-block mr-2">
        <div class="dccn-text-smaller mx-2 my-0">{{ decision_type.name }}</div>
      </div>
    {% endif %}
    <div class="dccn-feed-item-label dccn-feed-item-status">
      {{ submission.get_status_display }} <i class="fas fa-circle text-{{ submission|submission_status_color_class }}"></i>
    </div>
  </div>
  <div class="container pl-0">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-7">
        <a href="{% url 'submissions:overview' pk=submission.pk %}" class="dccn-link dccn-text-4 font-weight-normal">
          {{ submission.title }}
        </a>
        <p class="dccn-text-0 mr-3">
          {% for author in submission.authors.all %}
            <span>
              <a href="{% url 'chair:user-overview' conf_pk=submission.conference_id user_pk=author.user_id %}?next={{ request.get_full_path|urlencode }}"
                 class="dccn-link dccn-text-small font-weight-light">
                {{ author.user.profile.get_full_name }}</a>{% if not forloop.last %},&nbsp;{% endif %}
            </span>
          {% endfor %}
        </p>
{#        <div class="dccn-feed-item-messages">#}
{#          {% for warning in warnings %}#}
{#            <div class="dccn-feed-item-row">#}
{#              <div class="dccn-feed-item-message-text">#}
{#                <i class="fas fa-exclamation-circle text-warning"></i> {{ warning.label }}#}
{#                {% if warning.link %}(<a href="{{ warning.link }}" class="dccn-link dccn-text-small">{{ warning.link_label }}</a>){% endif %}#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#        </div>#}
      </div>
      <div class="col-12 col-lg-6 col-xl-5 mt-3 mt-lg-0">
        <!-- Proceedings -->
        {% for camera in submission|camera_ready_set_of %}
          {% with proc_type=camera.proc_type volume=camera.volume %}
            <div class="border-left mb-3">
              <div class="dccn-feed-item-row ml-2">
                <div class="dccn-text-small pb-0 pt-1">{{ proc_type.name }}</div>
                {% if volume %}
                  <div class="ml-auto border-bottom pb-0 pt-1 px-3 rounded bg-light dccn-text-smaller font-weight-normal">{{ volume.name }}</div>
                {% else %}
                  <div class="ml-auto border-bottom border-warning text-danger-16 pb-0 pt-1 px-3 rounded bg-warning-1 dccn-text-smaller font-weight-normal">Volume not selected</div>
                {% endif %}
              </div>

              {% for artifact in camera.artifact_set.all %}
                {% with ad=artifact.descriptor attachment=artifact.attachment %}
                  <div class="dccn-feed-item-row mt-2 ml-2 px-3">
                    {% if attachment.file %}
                      <a href="{% url 'submissions:download-attachment' pk=submission.pk att_pk=attachment.pk %}"
                         class="dccn-link dccn-text-smaller" target="_blank">
                        <i class="{{ artifact|file_icon_class }}"></i> {{ attachment.get_file_name }}
                      </a>
                    {% else %}
                      <span class="text-{% if ad.mandatory and ad.editable %}danger{% else %}{% if ad.editable %}warning-13{% else %}secondary{% endif %}{% endif %} dccn-text-smaller">
                        <i class="fas fa-exclamation-circle"></i> No file uploaded
                      </span>
                    {% endif %}
                    {% if ad.editable %}
                      <a href="{% url 'submissions:camera-ready' pk=submission.pk %}" class="dccn-link d-inline-block ml-auto dccn-text-smaller">
                        <i class="far fa-edit"></i> Edit
                      </a>
                    {% endif %}
                  </div>
                {% endwith %}
              {% endfor %}
            </div>
          {% endwith %}
        {% empty %}
          <div class="dccn-feed-item-row text-warning-15">No proceedings for this submission</div>
        {% endfor %}
        <!-- end of proceedings -->
      </div>
    </div>
  </div>

  <div class="dccn-feed-item-footer">
    <a href="{% url 'submissions:overview' pk=submission.pk %}" class="dccn-feed-item-link"><i class="fas fa-align-justify"></i> View</a>
    <a href="{% url 'submissions:camera-ready' pk=submission.pk %}" class="dccn-feed-item-link"><i class="far fa-edit"></i> Edit</a>
{#    <button class="btn btn-link dccn-feed-item-link" data-toggle="modal" data-target="#deleteDialog-{{ submission.pk }}">#}
{#      <i class="far fa-trash-alt"></i> Delete#}
{#    </button>#}
    <div class="dccn-feed-item-id ml-auto">#{{ submission.pk }}</div>
  </div>

  {% include 'submissions/components/delete_dialog.html' with submission=submission %}
</div>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
