{######################################}
{# CONTEXT:                           #}
{# * submission                       #}
{# * review_stats                     #}
{######################################}
{% load review_extras %}
{% with decision=submission.review_decision.first quality=review_stats|quality_of:submission %}
<div class="dccn-feed-item">
  <div class="dccn-feed-item-top">
    <div class="dccn-feed-item-label dccn-feed-item-conf">{{ submission.conference.short_name }}</div>
    <div class="dccn-feed-item-label dccn-feed-item-score text-{{ quality|quality_color }}-15 ml-auto"
         data-toggle="tooltip" title="Review score">
      <i class="far fa-star"></i> <span class="font-weight-lighter">{{ submission|average_score }}</span>
    </div>
    <div class="dccn-feed-item-label dccn-feed-item-status">
      Rejected <i class="fas fa-circle text-danger"></i>
    </div>
  </div>
  <p class="dccn-feed-item-title">
    <a href="{% url 'submissions:overview' pk=submission.pk %}">
      {{ submission.title }}
    </a>
  </p>
  <div class="dccn-feed-item-row">
    <div class="dccn-feed-item-authors">
      {{ submission.get_authors_display }}
    </div>
  </div>
  <div class="dccn-feed-item-messages">
{#    {% if not submission.review_manuscript %}#}
{#    <div class="dccn-feed-item-row">#}
{#      <div class="dccn-feed-item-message-text">#}
{#        <i class="fas fa-exclamation-triangle text-warning"></i> Manuscript not uploaded yet#}
{#        (<a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-feed-item-message-link">upload...</a>)#}
{#      </div>#}
{#    </div>#}
{#    {% endif %}#}
  </div>
  <div class="dccn-feed-item-footer">
    <a href="{% url 'submissions:overview' pk=submission.pk %}" class="dccn-feed-item-link"><i class="fas fa-align-justify"></i> View</a>
{#    <button class="btn btn-link dccn-feed-item-link" data-toggle="modal" data-target="#deleteDialog-{{ submission.pk }}">#}
{#      <i class="far fa-trash-alt"></i> Delete#}
{#    </button>#}
    <div class="dccn-feed-item-id ml-auto">#{{ submission.pk }}</div>
  </div>

  {% include 'submissions/components/delete_dialog.html' with submission=submission %}
</div>
{% endwith %}