{######################################}
{# CONTEXT:                           #}
{# * submission                       #}
{# * review_stats                     #}
{######################################}
{% load review_extras %}
{% load submission_extras %}
{% with decision=submission.reviewstage_set.first.decision quality=review_stats|quality_of:submission warnings=submission|warnings_of %}
<div class="dccn-feed-item">
  <div class="dccn-feed-item-top">
    <div class="dccn-feed-item-label dccn-feed-item-conf">{{ submission.conference.short_name }}</div>
    <div class="ml-auto"></div>
    <div class="dccn-feed-item-label dccn-feed-item-score text-{{ quality|quality_color }}" data-toggle="tooltip" title="Review score">
      <i class="far fa-star"></i> <span class="font-weight-lighter">{{ submission|average_score }}</span>
    </div>
    {% if warnings %}
      <div class="dccn-feed-item-label mr-3">
        <i class="fas fa-exclamation-triangle text-warning"></i> {{ warnings|length }}
      </div>
    {% endif %}
    {% with proc_type=submission|proc_type_of %}
      {% if proc_type %}
        <div class="border bg-light border-secondary text-dark rounded d-inline-block mr-2">
          <div class="dccn-text-smaller mx-2 my-0">{{ proc_type.name }}</div>
        </div>
      {% endif %}
    {% endwith %}
    <div class="dccn-feed-item-label dccn-feed-item-status">
      {{ submission.get_status_display }} <i class="fas fa-circle {{ submission|status_class }}"></i>
    </div>
  </div>
  <p class="dccn-feed-item-title">
    <a href="{% url 'submissions:overview' pk=submission.pk %}">
      {{ submission.title }}
    </a>
  </p>
  <div class="dccn-feed-item-row">
    <div class="dccn-feed-item-authors">
      {{ submission.get_authors_display }}
    </div>
  </div>
  <div class="dccn-feed-item-footer">
    <a href="{% url 'submissions:overview' pk=submission.pk %}" class="dccn-feed-item-link"><i class="fas fa-align-justify"></i> View</a>
{#    <button class="btn btn-link dccn-feed-item-link" data-toggle="modal" data-target="#deleteDialog-{{ submission.pk }}">#}
{#      <i class="far fa-trash-alt"></i> Delete#}
{#    </button>#}
    <div class="dccn-feed-item-id ml-auto">#{{ submission.pk }}</div>
  </div>

  {% include 'submissions/components/delete_dialog.html' with submission=submission %}
</div>
{% endwith %}
