{# =========================================================================#}
{# CONTEXT:                                                                 #}
{#                                                                          #}
{# * active: 'details', 'authors', 'manuscript' , 'camera'                  #}
{# * submission: Submission                                                 #}
{# =========================================================================#}
<div class="dccn-panel dccn-panel-nav dccn-panel-nav-{{ size }}">
{% with status=submission.status %}
  <div class="dccn-panel-head">
    <h5 class="dccn-title">DCCN'19</h5>
    <p class="dccn-subtitle">Submission steps</p>
  </div>
  <ul class="dccn-nav-list">
    <li class="dccn-nav-list-item {% if active == 'details' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">1. Details</a>
      {% else %}
        <a href="{% url 'submissions:details' pk=submission.pk %}" class="dccn-nav-link">1. Details</a>
      {% endif %}
    </li>
    <li class="dccn-nav-list-item {% if active == 'authors' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">2. Authors</a>
      {% else %}
        <a href="{% url 'submissions:authors' pk=submission.pk %}" class="dccn-nav-link">2. Authors</a>
      {% endif %}
    </li>
    <li class="dccn-nav-list-item {% if active == 'manuscript' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">3. Review Manuscript</a>
      {% else %}
        <a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-nav-link">3. Review Manuscript</a>
      {% endif %}
    </li>
    {% if status == submission.ACCEPTED or status == submission.IN_PRINT or status == submission.PUBLISHED %}
      <li class="dccn-nav-list-item {% if active == 'camera' %}active{% endif %}">
        {% if not submission.filled_details and active == 'details' %}
          <a class="dccn-nav-link" style="cursor: not-allowed;">4. Camera-ready</a>
        {% else %}
          <a href="{% url 'submissions:camera-ready' pk=submission.pk %}" class="dccn-nav-link">4. Camera-ready</a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
{% endwith %}
</div>
