{# =========================================================================#}
{# CONTEXT:                                                                 #}
{#                                                                          #}
{# * active: 'details', 'authors', 'manuscript'                             #}
{# * submission: Submission                                                 #}
{# =========================================================================#}
<div class="dccn-panel dccn-panel-nav dccn-panel-nav-{{ size }}">
  <div class="dccn-panel-head">
    <h5 class="dccn-title">DCCN'19</h5>
    <p class="dccn-subtitle">Submission steps</p>
  </div>
  <ul class="dccn-nav-list">
    <li class="dccn-nav-list-item {% if active == 'details' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">1. Details</a>
      {% else %}
        <a href="{% url 'submission-details' pk=submission.pk %}" class="dccn-nav-link">1. Details</a>
      {% endif %}
    </li>
    <li class="dccn-nav-list-item {% if active == 'authors' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">2. Authors</a>
      {% else %}
        <a href="{% url 'submission-authors' pk=submission.pk %}" class="dccn-nav-link">2. Authors</a>
      {% endif %}
    </li>
    <li class="dccn-nav-list-item {% if active == 'manuscript' %}active{% endif %}">
      {% if not submission.filled_details and active == 'details' %}
        <a class="dccn-nav-link" style="cursor: not-allowed;">3. Review Manuscript</a>
      {% else %}
        <a href="{% url 'submission-manuscript-edit' pk=submission.pk %}" class="dccn-nav-link">3. Review Manuscript</a>
      {% endif %}
    </li>
  </ul>
</div>
