{###########################################################################}
{# Submissions list paged view.                                            #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `items`: a sequence of submission describing objects                  #}
{# - `filter_form`: a submissions filter form                              #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `page`: a `Page` object                                               #}
{# - `list_view_url`: this list view URL without query-string part.        #}
{# - `conference`: conference identifier                                   #}
{#                                                                         #}
{# Each item should is expected to have the following fields:              #}
{# - `pk`: submission ID                                                   #}
{# - `status`: submission status                                           #}
{# - `status_display`:                                                     #}
{# - `warnings`                                                            #}
{# - `average_score`                                                       #}
{# - `actions`: (`review`, `revoke_review`, `assign_reviewers`)            #}
{# - `title`                                                               #}
{# - `authors`                                                             #}
{# - `num_reviews`                                                         #}
{# - `num_reviews_required`                                                #}
{###########################################################################}
{% extends 'chair/base/list_page.html' %}
{% load static %}
{% load gears_extras %}
{% load bootstrap4 %}
{% load submission_extras %}
{% load widget_tweaks %}

{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">submissions</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">submissions</li>
{% endblock %}

{% block toolbar %}
  {{ url }}
  <div class="d-flex my-3 pb-3 border-bottom align-items-center">
    <form action="{% url 'chair:submission-create' conf_pk=conference.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Create</button>
    </form>
    <a href="{% url 'chair:export-submissions' conf_pk=conference.pk %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-outline-secondary ml-2" ><i class="fas fa-download"></i> Export</a>

    <div class="ml-auto"></div>
    <div class="mr-2">
      {% render_field filter_form.order class+="form-control form-control-sm" form="filterForm" %}
    </div>
    <div class="mr-2">
      {% render_field filter_form.direction class+="form-control form-control-sm" form="filterForm" %}
    </div>
    <div>
      <button type="submit" form="filterForm" class="btn btn-outline-secondary btn-sm">Apply</button>
    </div>
  </div>
{% endblock %}



{#---------------------------------------------------------------------------#}
{# List view content                                                         #}
{#---------------------------------------------------------------------------#}
{% block listViewContent %}
  {% for item in page %}
    <div class="dccn-feed-item pb-3" data-html-src="{% url 'chair:submission-feed-item' sub_pk=item %}">
      <div class="d-flex"><div class="mx-auto text-center"><div class="spinner-border"></div><p>Loading</p></div></div>
    </div>
  {% endfor %}
{% endblock %}



{#---------------------------------------------------------------------------#}
{# Filter                                                                    #}
{#---------------------------------------------------------------------------#}
{% block filter %}
  <div class="dccn-chair-workspace-filter">
    <form action="{% url 'chair:submissions' conf_pk=conference.pk %}" method="GET" class="m-2" id="filterForm">
      {% bootstrap_field filter_form.term show_label=False bound_css_class='' %}

      <a href="#detailedFilterFormFields" class="d-block dccn-link mb-3" data-toggle="collapse" id="detailedFilterFormToggler">
        <i class="fas fa-chevron-right"></i>&nbsp; Detailed filter
      </a>

      <div class="collapse" id="detailedFilterFormFields" data-form-filled="{{ filter_form.has_changed }}">
        <div class="form-group">
          <div class="dccn-text-0">Completion
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.completion }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Types
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.types }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Topics
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.topics }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Status
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.status }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Proceedings
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.proc_types }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Volumes
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.volumes }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Quartiles
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.quartiles }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Countries
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.countries }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Affiliations
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.affiliations }}
        </div>
      </div>
      <div class="form-group mt-2">
        <button type="submit" class="btn btn-outline-info">Apply</button>
        <a href="{% url 'chair:submissions' conf_pk=conference.pk %}" class="btn btn-link dccn-link ml-3">Clear filter</a>
      </div>

    </form>
  </div>
{% endblock %}



{#---------------------------------------------------------------------------#}
{# Script                                                                    #}
{#---------------------------------------------------------------------------#}
{% block listPageScript %}
<script src="{% static 'chair/js/feed.js' %}"></script>
<script>
$(document).ready(() => {
  $('[data-html-src]').each(function () {
    console.log('Loading data from ', $(this).attr('data-html-src'));
    const div = $(this);
    const url = div.attr('data-html-src');
    $.get(url, data => {
      div.html(data);
    });
  });
});
</script>
{% endblock %}
