{###########################################################################}
{# View all messages sent regarding this submission.                       #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `submission`                                                          #}
{# - `active_tab`                                                          #}
{# - `msg_list`                                                            #}
{###########################################################################}
{% extends 'chair/submissions/_base.html' %}
{% load gears_extras %}
{% load bootstrap4 %}
{% load chair_mail_extras %}


{% block tabViewContent %}
  <form action="{% url 'chair_mail:compose-submission' conf_pk=conference.pk %}">
    <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
    <input type="hidden" name="objects" value="{{ submission.pk }}">
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus"></i> New message</button>
  </form>
  <hr>
  {% include 'chair_mail/components/group_message_list.html' with msg_list=msg_list %}
{% endblock %}
