{###########################################################################}
{# View, update or delete review manuscript.                               #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `form`: form with 'review_manuscript' field                           #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `submission`                                                          #}
{# - `active_tab`                                                          #}
{###########################################################################}
{% extends 'chair/submissions/_base.html' %}
{% load bootstrap4 %}

{% block tabViewContent %}
  <div class="dccn-file-vd">
    <form action="{% url 'chair:submission-review-manuscript-delete' conf_pk=conference.pk sub_pk=submission.pk %}"
          method="POST" id="deleteManuscriptForm">
      {% csrf_token %}
    </form>
    <div class="dccn-file-vd-box">
      {% if submission.review_manuscript %}
        <p class="my-1">Current document:
          <a href="{% url 'submissions:download-manuscript' pk=submission.pk %}" target="_blank">
            <i class="far fa-file-pdf"></i> {{ submission.get_review_manuscript_name }}
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  <form method="POST" action="{% url 'chair:submission-review-manuscript' conf_pk=conference.pk sub_pk=submission.pk %}"
        class="mt-3" enctype="multipart/form-data" id="uploadForm" novalidate>
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.review_manuscript %}
  </form>

  <div class="d-flex mt-4">
    <button type="submit" class="btn btn-outline-primary" form="uploadForm">
      Upload <i class="fas fa-save"></i>
    </button>
    <button type="submit" class="btn btn-danger ml-3" form="deleteManuscriptForm"
            {% if not submission.review_manuscript %}disabled{% endif %}>
      <i class="far fa-trash-alt"></i> Delete
    </button>
  </div>
{% endblock %}
