{% extends 'private_base.html' %}
{% load bootstrap4 %}

{% block title %}
  Conference #{{ conference.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <div class="dccn-panel dccn-work-panel px-4 pb-4">
        <h1 class="dccn-panel-title">{{ conference.short_name }} Conference</h1>
        <h2 class="dccn-panel-subtitle">Edit Topics</h2>

        {% bootstrap_messages %}

        <div class="dccn-reorder">
          <ul class="list-group mt-4 dccn-reorder-list">
            {% for topic in conference.topic_set.all %}
              <li class="dccn-text-0-light list-group-item bg-light px-2 py-1 mt-1 d-flex dccn-reorder-list-item" data-id="{{ topic.pk }}">
                <span>{{ topic.name }}</span>
                <button class="ml-auto mr-1 btn btn-link dccn-link dccn-text-small-light" data-toggle="modal" data-target="#editTopic-{{ topic.pk }}"><i class="far fa-edit"></i></button>
                <form action="{% url 'conference-topic-delete' pk=conference.pk topic_pk=topic.pk %}" method="POST" novalidate>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link dccn-link dccn-text-small-light">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </form>

                <div class="modal fade" id="editTopic-{{ topic.pk }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <form action="{% url 'conference-topic-update' pk=conference.pk topic_pk=topic.pk %}" method="POST" class="form-inline">
                          {% csrf_token %}
                          <div class="form-group flex-fill">
                            <label for="editTopic-{{ topic.pk }}-name"></label>
                            <input type="text" class="form-control flex-fill" name="name" value="{{ topic.name }}" id="editTopic-{{ topic.pk }}-name">
                          </div>
                          <button type="submit" class="btn btn-success btn-sm mx-1">Save</button>
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </li>
            {% endfor %}
          </ul>
          <form action="{% url 'conference-topics-reorder' pk=conference.pk %}" method="POST" class="dccn-reorder-form" novalidate>
            {% csrf_token %}
            <input type="hidden" name="topic_pks" class="dccn-reorder-form-input">
          </form>
        </div>

        <h3 class="dccn-text-3-light mt-4">
          Add new topic
        </h3>
        <form action="" method="POST" class="mt-3" novalidate>
          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          <div class="form-group row">
            <a href="{% url 'conference-details' pk=conference.pk %}" class="btn btn-outline-secondary btn-sm ml-auto mr-2">Back</a>
            <input type="submit" value="Add" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.modal').on('shown.bs.modal', function () {

      });
    });
  </script>
{% endblock %}