{% extends 'user_site/base.html' %}
{% load bootstrap4 %}

{% block title %}
  Conference #{{ conference.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <div class="dccn-panel dccn-work-panel px-4 pb-4">

        <nav class="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'conferences:list' %}" class="dccn-link">Conferences</a></li>
            <li class="breadcrumb-item active">
              {{ conference.short_name }}
            </li>
          </ol>
        </nav>

        {% bootstrap_messages %}

        {% if conference.logotype %}
          <div class="d-flex mb-3">
            <img src="{{ conference.logotype.url }}" alt="Conference Logotype" class="mx-auto img-fluid" style="width: 120px; height: 120px;">
          </div>
        {% endif %}

        {% if conference.is_ieee %}
{#          <p class="dccn-text-3 text-muted text-center">IEEE International Conference on</p>#}
        {% endif %}
        <h1 class="dccn-text-large text-center my-1 py-0">{{ conference.full_name }}</h1>
        <h2 class="dccn-text-3 text-muted text-center">({{ conference.short_name }})</h2>
        <p class="text-center dccn-text mt-2">
          {{ conference.start_date }} - {{ conference.close_date }}, {{ conference.city }}, {{ conference.get_country_display }}
        </p>
        <div class="d-flex">
          <a href="{% url 'submission-create' %}" class="btn btn-outline-primary mt-3 mx-auto">Submit paper</a>
        </div>

        {# TODO: change the following check to filter whether user is able to edit conference #}
        {% if user in conference.chairs.all %}
          <div class="d-flex ml-auto mt-3">
            <a href="{% url 'conferences:edit' pk=conference.pk %}" class="dccn-link ml-auto">
              <i class="far fa-edit"></i> Edit details
            </a>
          </div>
        {% endif %}

        <!-- Deadlines section -->

        <div class="d-flex bg-secondary text-light px-2 py-1 mt-4 mb-2">
          <h3 class="dccn-title p-0 m-0">Deadlines</h3>
        </div>
        <div class="row align-items-end">
          <div class="col-4 dccn-text">
            Paper submission{% if conference.submission_stage.end_date_description %}
            ({{ conference.submission_stage.end_date_description }})
          {% endif %}:
          </div>
          <div class="col-8 dccn-text">
            {{ conference.submission_stage.end_date }}

            {# TODO: change the following check txo filter whether user is able to edit conference #}
            {% if user in conference.chairs.all %}
              <span class="ml-2">
                (<a href="{% url 'conferences:submission-deadline' pk=conference.pk %}" class="dccn-link">Edit</a>)
              </span>
            {% endif %}

          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-4 dccn-text">Review ends: </div>
          <div class="col-8 dccn-text">
            {{ conference.review_stage.end_date }}

            {# TODO: change the following check to filter whether user is able to edit conference #}
            {% if user in conference.chairs.all %}
              <span class="ml-2">
                (<a href="{% url 'conferences:review-deadline' pk=conference.pk %}" class="dccn-link">Edit</a>)
              </span>
            {% endif %}

          </div>
        </div>

        <!-- Topics section -->

        <div class="d-flex align-items-center bg-secondary text-light px-2 py-1 mt-4 mb-2">
          <h3 class="dccn-title p-0 m-0">Topics</h3>

          {# TODO: change the following check to filter whether user is able to edit conference #}
          {% if user in conference.chairs.all %}
            <a href="{% url 'conferences:topics' pk=conference.pk %}" class="dccn-link ml-auto text-light">
              <i class="far fa-edit"></i> Edit
            </a>
          {% endif %}

        </div>
        <ul class="list-unstyled">
          {% for topic in conference.topic_set.all %}
            <li class="dccn-text-0">{{ topic.order }}. {{ topic.name }}</li>
          {% empty %}
            <li class="dccn-text-0 text-info text-center">No topics yet</li>
          {% endfor %}
        </ul>


        <!-- Proceedings Options section -->

        <div class="d-flex align-items-center bg-secondary text-light px-2 py-1 mt-4 mb-2">
          <h3 class="dccn-title p-0 m-0">Proceedings Volumes</h3>

          {# TODO: change the following check to filter whether user is able to edit conference #}
          {% if user in conference.chairs.all %}
            <a href="{% url 'conferences:proceedings-create' pk=conference.pk %}" class="dccn-link ml-auto text-light">
              <i class="far fa-plus-square"></i> Add
            </a>
          {% endif %}

        </div>
        <div class="card-deck">

          {% for proc in conference.proceedingtype_set.all %}
            <div class="card mt-2" >
              <div class="card-header bg-white">
                <h4 class="card-title dccn-text-3">{{ proc.name }}</h4>
              </div>
              <div class="card-body" style="min-width: 200px;">
                <div class="row align-items-end">
                  <div class="col-md-6 dccn-text-0">Final manuscript deadline:</div>
                  <div class="col-md-6 dccn-text-0-light">{{ proc.final_manuscript_deadline }}</div>
                </div>
                <div class="row align-items-end">
                  <div class="col-md-6 dccn-text-0">Number of pages:</div>
                  <div class="col-md-6 dccn-text-0-light">{{ proc.min_num_pages }} - {{ proc.max_num_pages }}</div>
                </div>
                {% if proc.final_latex_template %}
                  <div class="row align-items-end">
                    <div class="col-md-6 dccn-text-0">Template:</div>
                    <div class="col-md-6 dccn-text-0-light">
                      <a href="{{ proc.final_latex_template.url }}" class="dccn-link"><i class="far fa-file-archive"></i> Download</a>
                    </div>
                  </div>
                {% endif %}
                <p class="dccn-text-small-light mt-3 text-justify">{{ proc.description }}</p>
              </div>
              {# TODO: change the following check to filter whether user is able to edit conference #}
              {% if user in conference.chairs.all %}
                <div class="card-footer bg-white d-flex align-items-center">
                  <a href="{% url 'conferences:proceedings-update' pk=conference.pk proc_pk=proc.pk %}" class="dccn-link">
                    <i class="far fa-edit"></i> Edit
                  </a>
                  <button class="btn btn-link dccn-link text-danger ml-3" data-toggle="modal" data-target="#deleteProceedings-{{ proc.pk }}">
                    <i class="far fa-trash-alt"></i> Delete
                  </button>
                </div>
              {% endif %}
            </div>

            <div class="modal" id="deleteProceedings-{{ proc.pk }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-danger text-light">
                    <div class="modal-title">Confirm delete proceedings volume</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="dccn-text-0-light">Are you sure you want to delete proceedings volume #{{ proc.pk }} "{{ proc.name }}"?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{% url 'conferences:proceedings-delete' pk=conference.pk proc_pk=proc.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- Submission Options section -->

        <div class="d-flex align-items-center bg-secondary text-light px-2 py-1 mt-4 mb-2">
          <h3 class="dccn-title p-0 m-0">Submission Types</h3>

          {# TODO: change the following check to filter whether user is able to edit conference #}
          {% if user in conference.chairs.all %}
            <a href="{% url 'conferences:stype-create' pk=conference.pk %}" class="dccn-link ml-auto text-light">
              <i class="far fa-plus-square"></i> Add
            </a>
          {% endif %}

        </div>
        <div class="card-deck">

          {% for st in conference.submissiontype_set.all %}
            <div class="card mt-2">
              <div class="card-header bg-white">
                <h4 class="card-title dccn-text-3">{{ st.name }}</h4>
              </div>
              <div class="card-body">
                <h5 class="dccn-text-1 mt-2">Requirements:</h5>
                <div class="row align-items-end">
                  <div class="col-md-6 dccn-text-0">Language:</div>
                  <div class="col-md-6 dccn-text-0-light">{{ st.get_language_display }}</div>
                </div>
                <div class="row align-items-end">
                  <div class="col-md-6 dccn-text-0">Number of pages:</div>
                  <div class="col-md-6 dccn-text-0-light">{{ st.min_num_pages }} - {{ st.max_num_pages }}</div>
                </div>
                <div class="row align-items-end">
                  <div class="col-md-6 dccn-text-0">Template:</div>
                  <div class="col-md-6 dccn-text-0-light">
                    <a href="{{ st.latex_template.url }}" class="dccn-link"><i class="far fa-file-archive"></i> download</a>
                  </div>
                </div>
                <p class="dccn-text-small-light mt-3 text-justify">{{ st.description }}</p>
                <h5 class="dccn-text-1 mt-3">Review:</h5>
                <p class="dccn-text-small-light mt-1">
                  {% if st.blind_review %}Blind, {% endif %}{{ st.num_reviews }} reviews per submission
                </p>
                <h5 class="dccn-text-1 mt-3">Volumes:</h5>
                <ul class="my-0">
                  {% for volume in st.possible_proceedings.all %}
                    <li class="dccn-text-small-light my-0">{{ volume }}</li>
                  {% endfor %}
                </ul>
                <p class="dccn-text-small-light text-muted mt-1">
                  NOTE: acceptance to any volume depends on the score received from the reviewers.
                </p>
              </div>
              {# TODO: change the following check to filter whether user is able to edit conference #}
              {% if user in conference.chairs.all %}
                <div class="card-footer bg-white d-flex align-items-center">
                  <a href="{% url 'conferences:stype-update' pk=conference.pk sub_pk=st.pk %}" class="dccn-link">
                    <i class="far fa-edit"></i> Edit
                  </a>
                  <button class="btn btn-link dccn-link text-danger ml-3" data-toggle="modal" data-target="#deleteSubmissionType-{{ st.pk }}">
                    <i class="far fa-trash-alt"></i> Delete
                  </button>
                </div>
              {% endif %}
            </div>

            <div class="modal" id="deleteSubmissionType-{{ st.pk }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-danger text-light">
                    <div class="modal-title">Confirm delete submission type</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="dccn-text-0-light">Are you sure you want to delete submission type #{{ st.pk }} "{{ st.name }}"?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{% url 'conferences:stype-delete' pk=conference.pk sub_pk=st.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <hr class="mb-0">

        <!-- Administrators section -->

        <h3 class="dccn-title">Administrators</h3>
        {% for chair in conference.chairs.all %}
          <div class="d-flex mt-2 align-items-center">
            <img src="{{ chair.profile.avatar.url }}" alt="{{ chair.profile.get_full_name }} profile image"
                 class="img-fluid rounded-circle" style="width: 48px; height: 48px;">
            <div class="ml-3">
              <p class="dccn-text-0-light">{{ chair.profile.get_full_name }}</p>
              <p class="dccn-text-smaller text-muted">{{ chair.profile.affiliation }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('input[name$="date"]').datepicker({
        {#dateFormat: "dd MM yy",#}
        dateFormat: "yy-mm-dd",
        defaultDate: "2019-01-01",
        changeYear: true,
        changeMonth: true,
      });
    });
  </script>
{% endblock %}