{% extends 'user_site/base.html' %}
{% load bootstrap4 %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{% endblock %}

{% block title %}
  Conference #{{ conference.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <div class="dccn-panel dccn-work-panel px-4 pb-4">
        <h1 class="dccn-panel-title">{{ title }}</h1>
        {% if subtitle %}
          <h2 class="dccn-panel-subtitle">{{ subtitle }}</h2>
        {% endif %}
        <form action="" method="POST" novalidate enctype="multipart/form-data">
          {% bootstrap_messages %}
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="form-group row">
            <a href="{% url 'conferences:details' pk=conference.pk %}" class="btn btn-outline-secondary btn-sm ml-auto mr-2">Cancel</a>
            <input type="submit" value="{{ submit_button_text|default:'Save' }}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('input[name$="date"],input[name$="deadline"]').datetimepicker({
        {#dateFormat: "dd MM yy",#}
        format: 'Y-m-d H:i',
        defaultDate: "2019-01-01",
        changeYear: true,
        changeMonth: true,
      });
    });
  </script>
{% endblock %}