{% extends "user_site/base.html" %}
{% load bootstrap4 %}
{% load submission_extras %}
{% load proceedings_extras %}

{% block title %}
  Submission #{{ submission.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-md-col">

      {% include 'submissions/components/submission_navigation.html' with active='camera' enabled=True %}

      <!-- MAIN AREA -->
      <div class="dccn-panel flex-fill pb-4">
        <h1 class="dccn-panel-title mb-4">Camera-ready files</h1>

        {% bootstrap_messages %}

        {% for camera in submission|camera_ready_set_of %}
          <h2 class="h2 mt-5">{{ camera.proc_type.name }}</h2>
          {% for artifact in camera.artifact_set.all %}
            {% with ad=artifact.descriptor attachment=artifact.attachment %}
              <div class="border rounded my-3 py-2 px-3">
                <div class="d-flex align-items-center">
                  <h4>{{ artifact.name }}</h4>
                  <div class="ml-auto badge badge-dark text-light">{% if ad.mandatory %}mandatory{% else %}optional{% endif %}</div>
                </div>

                <p class="mb-1 dccn-text-0">{{ ad.description }}</p>
                {% if ad.materials_url %}
                  <p class="my-0 dccn-text-small">
                    <span class="font-weight-bold">Additional materials: </span> <a href="{{ ad.materials_url }}">{{ ad.materials_url }}</a>
                  </p>
                {% endif %}
                <p class="my-0 dccn-text-small">
                  <span class="font-weight-bold">Max. size (MB): </span> {{ ad.max_size_mb }}
                </p>
                <p class="my-0 dccn-text-small">
                  <span class="font-weight-bold">Required file types: </span> {{ ad.get_file_type_display }}
                </p>

                {% if attachment.file %}
                  <div class="d-flex mt-3">
                    <p class="dccn-text-small">
                      Current document:
                      <a href="{% url 'submissions:download-attachment' pk=submission.pk att_pk=attachment.pk %}" target="_blank">
                        <i class="{{ artifact|file_icon_class }}"></i> {{ attachment.get_file_name }}
                      </a>
                    </p>
                    {% if attachment.access == 'RW' %}
                      <div class="ml-auto">
                        <form action="{% url 'submissions:delete-attachment' pk=submission.pk att_pk=attachment.pk %}"
                              method="POST">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-link dccn-text-small text-danger">
                            <i class="fas fa-times"></i> Delete
                          </button>
                        </form>
                      </div>
                    {% endif %}
                  </div>
                {% else %}
                  <p class="mt-3 text-{% if ad.mandatory %}danger{% else %}warning-15{% endif %} dccn-text-small">
                    <i class="fas fa-exclamation-circle"></i> File not uploaded yet
                  </p>
                {% endif %}

                {% if attachment.access == 'RW' %}
                  <form action="{% url 'submissions:upload-attachment' pk=submission.pk att_pk=attachment.pk %}"
                        method="POST" class="mt-3 d-flex align-items-start" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="dccn-file d-flex align-items-center">
                      <button type="button" class="btn btn-outline-secondary btn-sm dccn-file-input mt-2 mt-sm-0">
                        <input type="file" value="Choose file..." accept="{{ artifact|accepted_input }}"
                               name="file" id="id_file_{{ artifact.pk }}"><i class="far fa-file-image mr-1"></i> Choose file
                      </button>
                      <p class="small text-info dccn-file-name ml-2 py-0 my-0">{{ artifact.get_file_name }}</p>
                    </div>
                    <button class="btn btn-primary btn-sm ml-auto">Upload</button>
                  </form>
                {% else %}
                  <p class="mt-3 border border-danger rounded bg-light p-3">
                    Content of {{ artifact.name|lower }} can not be modified any longer.<br>
                    Please, contact organizing committee if you need to update it.
                  </p>
                {% endif %}
              </div>
            {% endwith %}
          {% endfor %}
        {% endfor %}

        <div class="dccn-saveform">
          <a href="{% url 'submissions:overview' pk=submission.pk %}" class="btn btn-outline-secondary ml-auto mr-2">
            <i class="fas fa-flag-checkered"></i> Finish
          </a>
        </div>
      </div>

    </div>
  </main>
{% endblock %}


{% block script %}
<script>
</script>
{% endblock %}