{% extends "user_site/base.html" %}
{% load bootstrap4 %}
{% load submission_extras %}
{% load review_extras %}
{% load proceedings_extras %}

{% block title %}
  Submission #{{ submission.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block body %}
<main class="container py-3">
  <div class="dccn-layout-row">

    <!-- MAIN AREA -->
    <div class="dccn-panel dccn-panel-screen">

      <div class="dccn-panel-header">
        <h1 class="dccn-panel-title">Submission #{{ submission.pk }}</h1>
        <a href="{% url 'home' %}" class="dccn-panel-close-btn"><i class="fas fa-times fa-2x"></i></a>
      </div>

      <div class="dccn-panel-body">
        <div class="dccn-panel-status-row">
          <p class="dccn-text-small text-muted mb-3">{{ submission.conference.short_name }}</p>
          <div class="ml-auto"></div>
          {% if deadline %}
            <p class="dccn-text-small mr-3" data-toggle="tooltip" title="Deadline">
              <i class="far fa-clock"></i> {{ deadline }}
            </p>
          {% endif %}

          <p class="dccn-text-small">
            {{ submission.get_status_display }} <i class="fas fa-circle text-{{ submission|submission_status_color_class }}"></i>
          </p>
        </div>

        <form>
          {% bootstrap_messages %}
        </form>

        <p class="text-center dccn-text-larger-light">{{ submission.title }}</p>
        <p class="text-center dccn-text-2-light mt-2">{{ submission.get_authors_display }}</p>
        <p class="text-justify dccn-text-0 mt-3"><strong>Abstract:</strong> {{ submission.abstract }}</p>

        <p class="dccn-text-0 mt-3"><strong>Topics:</strong></p>
        <ul class="list-unstyled mt-0">
          {% for topic in submission.topics.all %}
            <li class="dccn-text-0"><i class="far fa-check-square"></i> {{ topic.name }}</li>
          {% endfor %}
        </ul>

        <p class="dccn-text-0 mt-3"><strong>Submission type:</strong> {{ submission.stype.name }}</p>

        {% if submission.review_manuscript %}
          <p class="dccn-text-0 mt-3">
            <strong>Review Manuscript: </strong>
            <a href="{% url 'submissions:download-manuscript' pk=submission.pk %}" class="dccn-link">
              <i class="far fa-file-pdf"></i> {{ submission.get_review_manuscript_name }}
            </a>
            {% if submission.can_edit_review_manuscript %}
              (<a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-link">Change manuscript...</a>)
            {% endif %}
          </p>
          {% if not submission.can_edit_review_manuscript %}
            <p class="mt-1 dccn-text-small-light text-muted">
              Review manuscript can not be changed after review started. Please, contact organizing committee if you need to update your manuscript.
            </p>
          {% endif %}
        {% endif %}

        {% with warnings=submission|submission_warnings %}
          {% if warnings %}
            <p class="dccn-text-0 mt-3"><strong>Warnings:</strong></p>
            <ul class="list-unstyled">
              {% for warning in warnings %}
              <li>
                <i class="fas fa-exclamation-circle text-warning"></i> {{ warning.label }}
                {% if warning.link %}(<a href="{{ warning.link }}" class="dccn-link dccn-text-small">{{ warning.link_label }}</a>){% endif %}
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <div class="mt-3 d-flex flex-sm-row flex-column">
          {% if submission.can_edit_details %}
            <a href="{% url 'submissions:details' pk=submission.pk %}" class="dccn-link d-inline-block mr-sm-3">
              <i class="far fa-edit"></i> Edit details
            </a>
          {% endif %}
          <a href="{% url 'submissions:authors' pk=submission.pk %}" class="dccn-link d-block mr-sm-3 mt-2 mt-sm-0">
            <i class="fas fa-users"></i> Edit authors
          </a>
          {% if submission.can_edit_review_manuscript %}
            <a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-link d-block mr-sm-3 mt-2 mt-sm-0">
              <i class="far fa-file-pdf"></i> Change manuscript
            </a>
          {% endif %}
        </div>

        {% with reviews=submission|reviews_of status=submission.status decision=submission|review_decision_of %}
          {% if decision %}
            {% with score=submission|average_score decision_type=decision.decision_type %}
            {% with accepted=decision|review_decision_is:"accept" %}
            {% with rejected=decision|review_decision_is:"reject" %}
            {% with camera_set=submission|camera_ready_set_of %}
              {% if status != submission.SUBMITTED and status != submission.UNDER_REVIEW %}
                {###########################}
                {# REVIEW RESULT           #}
                {###########################}
                <h2 class="h1 border-bottom my-3">Review Result</h2>
                <p class="dccn-text-normal-light">
                  {% if reviews %}
                    Based on {{ reviews|length }} review{{ reviews|length|pluralize }}, your submission received score
                    <span class="font-weight-normal text-{{ decision|review_decision_color }}">{{ score }}</span>.
                  {% endif %}
                  Decision on your submission:
                  <span class="font-weight-bold text-{{ decision|review_decision_color }}">{{ decision_type.description }}</span>.
                </p>

                {% if accepted %}
                  <p class="dccn-text-normal-light mt-2">You are invited to publish your manuscript in:</p>
                  <ul>
                    {% for camera in camera_set %}
                      {% with proc_type=camera.proc_type volume=camera.volume %}
                      <li class="mt-3">
                        <p class="my-0">
                          <span class="font-weight-normal">{{ proc_type.description }}</span>
                          {% if volume %}
                            <span class="font-weight-normal">{{ volume.name }}</span>
                          {% endif %}
                          (<a href="{% url 'submissions:camera-ready' pk=submission.pk %}" class="dccn-link">upload your camera-ready version</a>
                          before {{ proc_type.final_manuscript_deadline|date:"j F Y G:i" }})
                        </p>
                        <p class="dccn-text-normal-light">
                          Your final manuscript must be prepared in LaTeX
                          {% if proc_type.final_latex_template %}
                            (<a href="{{ proc_type.final_latex_template.url }}">download template <i class="fas fa-file-download"></i></a>)
                          {% endif %}
                          and have {{ proc_type.min_num_pages }}-{{ proc_type.max_num_pages }} pages.
                        </p>
                      </li>
                      {% endwith %}
                    {% endfor %}
                  </ul>
                {% endif %}

                {########################}
                {# CAMERA-READY         #}
                {########################}
                {% if accepted %}
                  <h2 class="h1 border-bottom my-3">Camera-ready</h2>
                  {% for camera in camera_set %}
                    {% with artifacts=camera.artifact_set.all proc_type=camera.proc_type %}
                      <h3 class="h2">{{ proc_type.name }}</h3>
                      <p class="my-3 dccn-text-normal-light">
                        To finish your submission to {{ proc_type.name }}, please provide the following file{{ artifacts|length|pluralize }}.
                      </p>

                      {% for artifact in artifacts %}
                        {% with ad=artifact.descriptor attachment=artifact.attachment %}
                          <div class="d-flex align-items-center">
                            <h3 class="h3">{% if artifacts|length > 1 %}{{ forloop.counter }}. {% endif %}{{ ad.name }}</h3>
                            <div class="ml-auto badge badge-dark text-light">{% if ad.mandatory %}mandatory{% else %}optional{% endif %}</div>
                          </div>
                          <p class="dccn-text-small font-italic">
                            {{ ad.description }} ({{ ad.get_file_type_display }}, up to {{ ad.max_size_mb }} MB).
                          </p>
                          {% for link in ad.links.all %}
                            {% with ef=link.link %}
                              <p class="mt-1 dccn-text-small">{{ ef.label }}: <a href="{{ ef.url }}" class="dccn-text-small dccn-link">{{ ef.url }}</a></p>
                            {% endwith %}
                          {% endfor %}

                          <div class="d-flex my-3">
                            <p class="dccn-text-0">
                              {% if attachment.file %}
                                <a href="{% url 'submissions:download-attachment' pk=submission.pk att_pk=attachment.pk %}"
                                   class="dccn-link" target="_blank">
                                  <i class="{{ artifact|file_icon_class }}"></i> {{ attachment.get_file_name }}
                                </a>
                              {% else %}
                                <span class="text-{% if ad.mandatory and ad.editable %}danger{% else %}{% if ad.editable %}warning-13{% else %}secondary{% endif %}{% endif %}">
                                  <i class="fas fa-exclamation-circle"></i> No file uploaded
                                </span>
                              {% endif %}
                            </p>
                            {% if ad.editable %}
                              <a href="{% url 'submissions:camera-ready' pk=submission.pk %}" class="dccn-link d-inline-block ml-auto">
                                <i class="far fa-edit"></i> Edit
                              </a>
                            {% endif %}
                          </div>
                          <div class="mt-3 mb-4 d-flex flex-sm-row flex-column">
                          </div>
                        {% endwith %}
                      {% endfor %}
                    {% endwith %}
                  {% endfor %}
                {% endif %}

                {########################}
                {# REVIEWS              #}
                {########################}
                {% if reviews %}
                  <h2 class="h1 border-bottom my-3">Reviews</h2>
                  <p class="h3 font-weight-normal">Your review score: {{ score }}</p>

                  <canvas class="dccn-scores-bar-chart my-4 mx-auto"
                          data-scores="{% for r in reviews %}{{ r.technical_merit }},{{ r.clarity }},{{ r.relevance }},{{ r.originality }}{% if not forloop.last %};{% endif %}{% endfor %}">
                  </canvas>

                  {% for review in reviews %}
                    <h3 class="h3 mt-4 mb-2 border-bottom">Review #{{ forloop.counter }}</h3>
                    <table class="table table-sm table-borderless">
                      <tbody>
                        <tr><td>Technical Merit</td><td>{{ review.technical_merit }}</td></tr>
                        <tr><td>Clarity</td><td>{{ review.clarity }}</td></tr>
                        <tr><td>Relevance</td><td>{{ review.relevance }}</td></tr>
                        <tr><td>Originality</td><td>{{ review.originality }}</td></tr>
                      </tbody>
                    </table>
                    <p class="dccn-text-small-light">{{ review.details }}</p>
                  {% endfor %}
                {% endif %}

              {% endif %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
          {% endif %}
        {% endwith %}

        <hr>
        <div class="d-flex">
          {% if submission.status == submission.SUBMITTED or submission.status == submission.UNDER_REVIEW %}
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteDialog-{{ submission.pk }}">
              <i class="far fa-trash-alt"></i> Delete
            </button>
          {% endif %}
          {% if show_finish %}
          <a href="{% url 'home' %}" class="btn btn-success ml-auto">
            <i class="fas fa-flag-checkered"></i> Finish
          </a>
          {% else %}
          <a href="{% url 'home' %}" class="btn btn-outline-secondary ml-auto">
            <i class="fas fa-home"></i> Close
          </a>
          {% endif %}
        </div>


        <!-- Delete submission dialog -->
        {% include 'submissions/components/delete_dialog.html' with submission=submission %}

      </div>
    </div>

  </div>
</main>
{% endblock %}


{% block script %}
{% endblock %}