{% extends "user_site/base.html" %}
{% load bootstrap4 %}
{% load submission_extras %}

{% block title %}
  Submission #{{ submission.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row">

      <!-- MAIN AREA -->
      <div class="dccn-panel dccn-panel-screen">

        <div class="dccn-panel-header">
          <h1 class="dccn-panel-title">Submission #{{ submission.pk }}</h1>
          <a href="{% url 'home' %}" class="dccn-panel-close-btn"><i class="fas fa-times fa-2x"></i></a>
        </div>

        <div class="dccn-panel-body">
          <div class="dccn-panel-status-row">
            <p class="dccn-text-small text-muted mb-3">{{ submission.conference.short_name }}</p>
            <p class="dccn-text-small ml-auto mr-3" data-toggle="tooltip" title="Deadline">
              <i class="far fa-clock"></i> {{ deadline }}
            </p>

            <p class="dccn-text-small">
              {{ submission.get_status_display }} <i class="fas fa-circle {{ submission|statusclass }}"></i>
            </p>
          </div>

          <form>
            {% bootstrap_messages %}
          </form>

          <p class="text-center dccn-text-larger-light">{{ submission.title }}</p>
          <p class="text-center dccn-text-2-light mt-2">{{ submission.get_authors_display }}</p>
          <p class="text-justify dccn-text-0 mt-3"><strong>Abstract:</strong> {{ submission.abstract }}</p>

          <p class="dccn-text-0 mt-3"><strong>Topics:</strong></p>
          <ul class="list-unstyled mt-0">
            {% for topic in submission.topics.all %}
              <li class="dccn-text-0"><i class="far fa-check-square"></i> {{ topic.name }}</li>
            {% endfor %}
          </ul>

          <p class="dccn-text-0 mt-3"><strong>Submission type:</strong> {{ submission.stype.name }}</p>

          {% if submission.review_manuscript %}
            <p class="dccn-text-0 mt-3">
              <strong>Review Manuscript: </strong>
              <a href="{% url 'submissions:download-manuscript' pk=submission.pk %}" class="dccn-link">
                <i class="far fa-file-pdf"></i> {{ submission.get_review_manuscript_name }}
              </a>
              {% if submission.can_edit_review_manuscript %}
                (<a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-link">Change manuscript...</a>)
              {% endif %}
            </p>
            {% if not submission.can_edit_review_manuscript %}
              <p class="mt-1 dccn-text-small-light text-muted">Review manuscript can not be changed after review started.</p>
            {% endif %}
          {% endif %}

          {% if submission.can_edit_review_manuscript and not submission.review_manuscript %}
            <p class="dccn-text-0 mt-3"><strong>Warnings:</strong></p>
            <ul class="list-unstyled">
              <li>
                <span class="text-warning-13"><i class="fas fa-exclamation-circle"></i> Missing review manuscript</span>
                <span>(<a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-link">Upload...)</a></span>
              </li>
            </ul>
          {% endif %}

          <div class="mt-3 d-flex flex-sm-row flex-column">
            {% if submission.can_edit_details %}
              <a href="{% url 'submissions:details' pk=submission.pk %}" class="dccn-link d-inline-block">
                <i class="far fa-edit"></i> Edit details
              </a>
            {% endif %}
            <a href="{% url 'submissions:authors' pk=submission.pk %}" class="dccn-link d-block ml-sm-3 mt-2 mt-sm-0">
              <i class="fas fa-users"></i> Edit authors
            </a>
            {% if submission.can_edit_review_manuscript %}
              <a href="{% url 'submissions:edit-manuscript' pk=submission.pk %}" class="dccn-link d-block ml-sm-3 mt-2 mt-sm-0">
                <i class="far fa-file-pdf"></i> Change manuscript
              </a>
            {% endif %}
          </div>

          <hr>
          <div class="d-flex">
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteDialog-{{ submission.pk }}">
              <i class="far fa-trash-alt"></i> Delete
            </button>
            {% if show_finish %}
            <a href="{% url 'home' %}" class="btn btn-success ml-auto">
              <i class="fas fa-flag-checkered"></i> Finish
            </a>
            {% else %}
            <a href="{% url 'home' %}" class="btn btn-outline-secondary ml-auto">
              <i class="fas fa-home"></i> Close
            </a>
            {% endif %}
          </div>

          <!-- Delete submission dialog -->
          {% include 'submissions/components/delete_dialog.html' with submission=submission %}

        </div>
      </div>

    </div>
  </main>
{% endblock %}


{% block script %}
{% endblock %}