{% extends "user_site/../../../wwwdccn/templates/../../../user_site/templates/user_site/base.html" %}
{% load bootstrap4 %}

{% block title %}
  Submission #{{ submission.pk }} | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-md-col">

      {% include 'submissions/components/submission_navigation.html' with active='manuscript' enabled=True %}

      <!-- MAIN AREA -->
      <div class="dccn-panel flex-fill pb-4">
        <h1 class="dccn-panel-title mb-4">Review Manuscript</h1>

          <p class="dccn-text-0-light mb-4">
            Please upload your submission PDF file for the review. Make sure that its format and content fits
            <a href="#">the conference requirements</a>.
          </p>
          <p class="dccn-text-0-light mb-4">
            Please note that all uploaded papers are subject for double-blind review.
            It means that neither authors know the reviewers, nor the reviewers know whose papers they score.
            You need to remove all information that can be used to identify you or your co-authors from the manuscript.
            In particular, you should remove authors names, funding sources and any references to your previous work.
            You will be able to add this information in your final manuscript after the review.
          </p>

          <div class="dccn-file-vd">
            <form action="{% url 'submission-manuscript-delete' pk=submission.pk %}" method="POST"
                  class="dccn-file-vd-form" id="deleteManuscriptForm">
              {% csrf_token %}
            </form>
            <div class="dccn-file-vd-box">
              {% if submission.review_manuscript %}
                <p class="my-1">Current document:
                  <a href="{% url 'submission-manuscript-download' pk=submission.pk %}" target="_blank">
                    <i class="far fa-file-pdf"></i> {{ submission.get_review_manuscript_name }}
                  </a>
                </p>
                <p class="my-1">
                  <button type="submit" class="btn btn-link p-0 m-0 text-danger" form="deleteManuscriptForm">
                    <i class="far fa-trash-alt"></i> Delete
                  </button>
                </p>
              {% endif %}
            </div>
          </div>

        <form method="POST" action="" class="mt-5" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% bootstrap_form_errors form type='non_fields' %}
          {% bootstrap_field form.confirm_blind %}
          {% bootstrap_field form.understand_blind_review %}
          {% bootstrap_field form.review_manuscript %}

          <p class="text-muted dccn-text-small-light" id="mustConfirmNote">
            You need to confirm with blind review conditions before uploading the manuscript.
          </p>

          <div class="dccn-saveform">
            {% if submission.reached_overview %}
              <a href="{% url 'home' %}" class="btn btn-outline-secondary ml-auto mr-2">
                <i class="fas fa-home"></i> Close
              </a>
              <button type="submit" class="btn btn-outline-primary">
                Save <i class="fas fa-save"></i>
              </button>
            {% else %}
              <a href="{% url 'submission-authors' pk=submission.pk %}" class="btn btn-outline-secondary">
                <i class="fas fa-chevron-left"></i> Prev
              </a>
              <a href="{% url 'submission-overview' pk=submission.pk %}"
                 class="btn btn-outline-secondary ml-auto mr-1">
                Skip
              </a>
              <button type="submit" class="btn btn-primary">
                Next <i class="fas fa-chevron-right"></i>
              </button>
            {% endif %}
          </div>
        </form>
      </div>

    </div>
  </main>
{% endblock %}


{% block script %}
<script>
const state = {};
const checkboxes = $('input[type="checkbox"]');
const note = $('#mustConfirmNote');

const updateFileInputStatus = function () {
  const allChecked = Object.keys(state).reduce((prev, key) => { return prev && state[key]; });
  const disabled = !allChecked;
  $('.dccn-file-input').attr('disabled', disabled);
  $('[name="review_manuscript"]').attr('disabled', disabled);
  if (allChecked)
    note.hide();
  else
    note.show();

};

checkboxes.change(function () {
  state[$(this).attr('name')] = this.checked;
  updateFileInputStatus();
});


//
// MAIN
//
// 1) Init state:
checkboxes.each((index, cb) => {
  state[$(cb).attr('name')] = cb.checked;
});
// 2) Set initial status:
updateFileInputStatus();

</script>
{% endblock %}