{#-----------------------------------------------#}
{# CONTEXT:                                      #}
{# #}
{#-----------------------------------------------#}
{% extends "chair/base/_chair_preview_base.html" %}
{% load bootstrap4 %}
{% load submission_extras %}

{% block title %}
  Compose message
{% endblock %}

{% block css %}
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
#message-editor .ql-editor {
  padding: 12px 15px !important;
}
</style>
{% endblock %}

{% block viewPanelTitle %}
Compose message to {{ destination_name }}
{% endblock %}

{% block viewPanelBody %}
<div class="container my-3">

  <form action="" id="newMessageForm" method="POST">

    {% csrf_token %}

    <input type="hidden" name="next" id="id_next" value="{{ next }}">

    <div class="form-group row">
      <div class="col-sm-10 col-md-11">
        {% bootstrap_field form.subject show_label=False %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10 col-md-11">
        <textarea name="body_html" id="id_body_html" cols="3" rows="1" class="form-control" hidden></textarea>
        <textarea name="body_plain" id="id_body_plain" cols="3" rows="1" class="form-control" hidden></textarea>

        {# --------------------------------------------------- #}
        {# Quill WISWIG editor area                            #}
        {# --------------------------------------------------- #}
        <div id="message">
          <div id="message-toolbar">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size">
                <option value="0.8em">Small</option>
                <option value="1em">Normal</option>
                <option value="2em">Large</option>
                <option value="3em">Huge</option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-script" value="sub"></button>
              <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-header" value="1"></button>
              <button class="ql-header" value="2"></button>
              <button class="ql-blockquote"></button>
              <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-clean"></button>
            </span>
          </div>
          <div id="message-editor" style="position: relative; height: 350px;"></div>
        </div>

        {# --------------------------------------------------- #}
        {# Help message with variables accessible by the users #}
        {# --------------------------------------------------- #}
        <small class="form-text text-muted">
          <p>
            You can use variables, e.g. <strong>{% verbatim %}{{ var }}{% endverbatim %}</strong>.
            <a href="#availableVars" data-toggle="collapse">Show available variables...</a>
          </p>
          <ul class="collapse" id="availableVars">
            {% for var in variables %}
              <li><span class="text-info font-weight-bold">{{ var.0 }}</span>: {{ var.1 }}</li>
            {% endfor %}
          </ul>

        </small>
      </div>
    </div>
    <div class="form-group d-flex">
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Send message</button>
      <a href="{{ next }}" class="btn btn-outline-secondary ml-auto">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
$(document).ready(function () {
  let AlignStyle = Quill.import('attributors/style/align');
  Quill.register(AlignStyle, true);

  let BackgroundStyle = Quill.import('attributors/style/background');
  Quill.register(BackgroundStyle, true);

  let ColorStyle = Quill.import('attributors/style/color');
  Quill.register(ColorStyle, true);

  let FontStyle = Quill.import('attributors/style/font');
  Quill.register(FontStyle, true);

  let SizeStyle = Quill.import('attributors/style/size');
  SizeStyle.whitelist = ['0.8em', '1em', '2em', '3em'];
  Quill.register(SizeStyle, true);

  const quill = new Quill('#message-editor', {
    theme: 'snow',
    modules: {
      'toolbar': '#message-toolbar',
    },
    placeholder: "Compose a letter...",
  });

  $('#newMessageForm').on('submit', function () {
    const editor = $('#message-editor .ql-editor');
    const htmlTextArea = $('#id_body_html');
    const plainTextArea = $('#id_body_plain');
    const plainText = quill.getText();
    const htmlValue = editor.html();
    htmlTextArea.text(htmlValue);
    plainTextArea.text(plainText);
    if (plainText.trim() === "") {
      return confirm('Are you sure you want to send empty message?');
    }
    return true;
  });
});
</script>
{% endblock %}