{% extends 'chair_mail/_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/monokai.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/addon/scroll/simplescrollbars.css' %}">
<style>
#htmlFormGroup > .CodeMirror {
  height: 60vh;
}
#plainTextFormGroup > .CodeMirror {
  height: 20vh;
}
</style>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block mainPanelContent %}
<div class="dccn-panel-body">
{% include 'chair_mail/components/navigation.html' with active='template' %}

  <div class="container my-3">

    <div class="px-3">
      <p class="dccn-text-0 my-3">Preview:</p>
      <div class="border">
        <div>{{ template_html|safe }}</div>
      </div>
    </div>

    <form action="" class="mt-5">
      <div class="form-group d-flex">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-secondary ml-2" id="updatePreviewBtn">Update preview</button>
        <button type="button" class="btn btn-outline-info ml-auto" id="sendMeSampleBtn">Send me test message</button>
      </div>

      <div class="form-group" id="htmlFormGroup">
        <label for="text_html" class="form-label">Edit HTML template:</label>
        <textarea name="text_html" id="text_html" cols="30" rows="50" class="d-none">{{ template_html }}</textarea>
      </div>

      <div class="form-group" id="plainTextFormGroup">
        <label for="text_plain" class="form-label">Edit plain text template:</label>
        <textarea name="text_plain" id="text_plain" cols="30" rows="20" class="d-none">{{ template_plain }}</textarea>
      </div>

    </form>

    {% include 'chair_mail/components/template_help.html' %}

  </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static 'codemirror/addon/scroll/simplescrollbars.js' %}"></script>
<script src="{% static 'scripts/require.js' %}" data-main="{% static '' %}"></script>
<script>
$(document).ready(function () {
  requirejs([
    'codemirror/lib/codemirror', 'codemirror/mode/htmlmixed/htmlmixed', 'codemirror/addon/scroll/simplescrollbars'
  ], function (CodeMirror) {
    CodeMirror.fromTextArea(document.getElementById('text_html'), {
      lineNumbers: true,
      mode: 'htmlmixed',
      theme: 'monokai',
      scrollbarStyle: "simple",
      lineWrapping: true,
    });

    CodeMirror.fromTextArea(document.getElementById('text_plain'), {
      lineNumbers: true,
      theme: 'monokai',
      scrollbarStyle: "simple",
      lineWrapping: true,
    });
  });

  $('#updatePreviewBtn').on('click', function () {
    //TODO
  });

  $('#sendMeSampleBtn').on('click', function () {
    //TODO
  });
});
</script>
{% endblock %}
