{###########################################################################}
{# List of sent emails.                                                    #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `email_messages`: sequence of email messages.                         #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `active_tab`: value of `active` context variable for tab navigation   #}
{# - `template`: the default conference email template                     #}
{###########################################################################}
{% extends 'chair_mail/_base.html' %}
{% load static %}

{% block tabViewContent %}
  <div class="container">
    <div class="list-group">
      {% for msg in email_messages %}
        <a class="d-flex list-group-item list-group-item-action py-1"
           href="{% url 'chair_mail:message-details' conf_pk=conference.pk msg_pk=msg.pk %}?next={{ request.get_full_path|urlencode }}">
          <div>
            <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
            <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
          </div>
          <div class="ml-auto"><span class="badge badge-info">{{ msg.message_type }}</span></div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
