{% extends 'chair/base.html' %}
{% load conferences_extras %}
{% load submission_extras %}


{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block chairCrumbItemsSmall %}
  <li class="breadcrumb-item">
    <a href="{% url 'chair:submissions' pk=conference.pk %}">submissions</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'chair:submission-overview' pk=submission.pk %}">#{{ submission.pk }}</a>
  </li>
{% endblock %}

{% block chairCrumbItemsLarge %}
  <li class="breadcrumb-item">
    <a href="{% url 'chair:submissions' pk=conference.pk %}">submissions</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'chair:submission-overview' pk=submission.pk %}">#{{ submission.pk }}</a>
  </li>
{% endblock %}
