{% extends 'chair/base.html' %}


{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#   - no breadcrumbs defined here since this is the root of the conference  #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='home' %}
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block mainPanelContent %}
{% endblock %}
