{% extends 'chair/base/_chair_submission_base.html' %}
{% load conferences_extras %}
{% load submission_extras %}
{% load bootstrap4 %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block mainPanelContent %}
<div class="dccn-panel-body">
{% include 'chair/components/submission_navigation.html' with active='metadata' %}

<div class="container py-3">
  <form action="{% url 'chair:submission-metadata' pk=submission.pk %}" method="POST">
    {% bootstrap_messages %}
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary mt-3">Save</button>
  </form>
</div>
</div>
{% endblock %}


{% block script %}
{% endblock %}
