{% extends 'chair/_submission_base.html' %}
{% load conferences_extras %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block mainPanelContent %}
<div class="dccn-panel-body">
{% include 'chair/components/submission_navigation.html' with active='reviews' %}



</div>
{% endblock %}


{% block script %}
<script>
// Get modal body content on modal show:
const modals = $('.modal[data-src]');
console.log(modals);
modals.on('show.bs.modal', function () {
  const thisModal = $(this);
  $(this).find('.modal-body').load(thisModal.attr('data-src'));
});
</script>
{% endblock %}
