{% extends 'chair/base.html' %}
{% load conferences_extras %}


{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='users' %}
{% endblock %}

{% block chairCrumbItemsSmall %}
  <li class="breadcrumb-item">
    <a href="{% url 'chair:users' pk=conference.pk %}">users</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'chair:user' pk=conference.pk user_pk=member.pk %}">#{{ member.pk }}</a>
  </li>
{% endblock %}

{% block chairCrumbItemsLarge %}
  <li class="breadcrumb-item">
    <a href="{% url 'chair:users' pk=conference.pk %}">users</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'chair:user' pk=conference.pk user_pk=member.pk %}">#{{ member.pk }} - {{ member.profile.get_full_name }}</a>
  </li>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block mainPanelContent %}
  <div class="container my-3">

    <div class="d-flex align-items-center">
      <img src="{{ member.profile.avatar.url }}" alt="{{ member.profile.get_full_name }} profile image" class="rounded-circle img-fluid mr-4"
           style="max-width: 128px; max-height: 128px;">
      <div>
        <h4 class="dccn-text-larger-light">{{ member.profile.get_full_name }}</h4>
        {% if member.profile.get_full_name_rus %}
          <p class="dccn-text-1 text-muted">{{ member.profile.get_full_name_rus }}</p>
        {% endif %}
        <p class="dccn-text-1 mt-1">{{ member.profile.get_country_display }}, {{ member.profile.city }}, {{ member.profile.affiliation }}</p>
        <p class="dccn-text-1 mt-0 text-muted">{{ member.profile.degree }}, {{ member.profile.role }}</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2 dccn-text-1-light mt-4">
      <div class="mx-0 my-0">
        {% if conference|is_author:user %}
          <div class="dccn-feed-item-label">{{ conference|num_submissions_by:user }} submissions to {{ conference.short_name }}:</div>
          <ul>
            {% for submission in conference|list_submission_by:member %}
              <li><a href="#submission-{{ submission.pk }}-modal" data-toggle="modal" class="dccn-link">{{ submission.title }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="dccn-feed-item-label text-muted">Not attending {{ conference.short_name }}</div>
        {% endif %}
      </div>
    </div>

    <div class="d-flex">
      <a href="{% url 'chair:users' pk=conference.pk %}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i> Back to users list</a>
    </div>
  </div>

  {% for submission in conference|list_submission_by:member %}
    <div class="modal fade" id="submission-{{ submission.pk }}-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submission #{{ submission.pk }}</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            {% include 'chair/components/submission_overview_modal.html' with submission=submission %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
