{% extends 'user_site/base.html' %}

{% block title %}
  Profile | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <!-- PROFILE BOX -->
      {% include 'user_site/components/profile_panel.html' with user=user numSubmissions=0 numReviews=0 %}

      <!-- SUBMISSIONS BOX -->
      <div class="dccn-panel dccn-work-panel">
        <h2 class="dccn-panel-title">Conferences</h2>

        {% if user.is_superuser %}
          <div class="dccn-panel-toolbar">
            <a href="#" class="btn btn-primary btn-sm btn-block btn-sm-normal mb-3 mb-lg-0"><i class="fas fa-plus pr-2"></i>New</a>
          </div>
        {% endif %}

        {% for conference in conferences %}
          <div class="card card-body">
            <h4 class="text-center card-title">{{ conference.long_name }}</h4>
            <h5 class="text-center text-muted">({{ conference.short_name }} {{ conference.year }})</h5>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}
