{% extends 'user_site/base.html' %}
{% load bootstrap4 %}

{% block title %}
  New Conference | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <div class="dccn-panel dccn-work-panel px-4 pb-4">
        <h1 class="dccn-panel-title">New Conference</h1>

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Create" class="btn btn-primary btn-sm">
        </form>

      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('input[name$="date"]').datepicker({
        {#dateFormat: "dd MM yy",#}
        dateFormat: "yy-mm-dd",
        defaultDate: "2019-01-01",
        changeYear: true,
        changeMonth: true,
      });
    });
  </script>
{% endblock %}