{% extends 'user_site/base.html' %}
{% load bootstrap4 %}

{% block title %}
  Conferences | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <!-- PROFILE BOX -->
      {% include 'user_site/components/profile_panel.html' with user=user numSubmissions=0 numReviews=0 %}

      <!-- SUBMISSIONS BOX -->
      <div class="dccn-panel dccn-work-panel">
        <h2 class="dccn-panel-title">Conferences</h2>

        {% if user.is_superuser %}
          <div class="dccn-panel-toolbar">
            <a href="{% url 'conference-create' %}" class="btn btn-primary btn-sm btn-block btn-sm-normal mb-3 mb-lg-0"><i class="fas fa-plus pr-2"></i>New</a>
          </div>
        {% endif %}

        {% bootstrap_messages %}

        {% for conference in conferences %}
          <div class="card card-body">
            {% if conference.is_ieee %}
              <p class="dccn-text-3-light text-muted text-center">IEEE International Conference on</p>
            {% endif %}
            <h4 class="text-center card-title dccn-text-5">{{ conference.full_name }}</h4>
            <h5 class="text-center text-muted dccn-text-4">({{ conference.short_name }} {{ conference.year }})</h5>
            <p class="text-center dccn-text mt-2">{{ conference.start_date }} - {{ conference.close_date }}, {{ conference.city }}, {{ conference.get_country_display }}</p>
            <div class="d-flex mt-4">
              <a href="{% url 'conference-details' pk=conference.pk %}" class="ml-auto dccn-link"><i class="fas fa-bars"></i> View</a>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}
