{% extends 'user_site/base.html' %}
{% load bootstrap4 %}

{% block title %}
  Conferences | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='conferences' %}
{% endblock %}

{% block body %}
  <main class="container py-3">
    <div class="dccn-layout-row-lg-col">

      <!-- PROFILE BOX -->
      {% include 'user_site/components/profile_panel.html' with user=user numSubmissions=submissions|length numReviews=0 %}

      <!-- SUBMISSIONS BOX -->
      <div class="dccn-panel dccn-work-panel" style="min-height: 90vh;">
        <h2 class="dccn-panel-title">Conferences</h2>

        {% bootstrap_messages %}

        {% if user.is_superuser %}
          <div class="dccn-panel-toolbar">
            <a href="{% url 'conference-create' %}" class="btn btn-primary btn-sm btn-block btn-sm-normal mb-3 mb-lg-0"><i class="fas fa-plus pr-2"></i>New</a>
          </div>
        {% endif %}

        {% for conference in conferences %}
          <div class="">
            <div class="d-flex align-items-center">
              <a href="{% url 'conference-details' pk=conference.pk %}"><img src="{{ conference.logotype.url }}" alt="Conference logo" class="img-fluid d-none d-md-block mr-3" style="max-width: 120px; max-height: 120px; padding: 5px;"></a>
              <div class="">
                {% if conference.is_ieee %}
{#                  <p class="dccn-text-3-light text-muted text-center text-md-left">IEEE International Conference on</p>#}
                {% endif %}
                <a href="{% url 'conference-details' pk=conference.pk %}" class="d-block text-center text-md-left card-title dccn-link text-dark-9 dccn-text-5">{{ conference.full_name }}</a>
                <a href="{% url 'conference-details' pk=conference.pk %}" class="d-block text-center text-md-left text-muted dccn-link dccn-text-4">({{ conference.short_name }} {{ conference.year }})</a>
                <p class="text-center text-md-left dccn-text mt-2">{{ conference.start_date }} - {{ conference.close_date }}, {{ conference.city }}, {{ conference.get_country_display }}</p>
                <div class="d-flex">
                  <a href="{% url 'submission-create' %}" class="btn btn-outline-primary mt-3 mx-auto ml-md-0">Submit paper</a>
                </div>
              </div>
            </div>
            <div class="d-flex mt-4">
              <a href="{% url 'conference-details' pk=conference.pk %}" class="ml-auto dccn-link"><i class="fas fa-bars"></i> View</a>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}
