{###########################################################################}
{# CONTEXT:                                                                #}
{# - `conference`                                                          #}
{###########################################################################}

<ul class="dccn-nav-list">
  <li class="{% if active == 'home' %}active{% endif %}">
    <a href="{% url 'chair:home' conf_pk=conference.pk %}"><i class="fas fa-tachometer-alt mr-2"></i> Home</a>
  </li>
  <li class="{% if active == 'submissions' %}active{% endif %}">
    <a href="{% url 'chair:submissions' conf_pk=conference.pk %}"><i class="far fa-copy mr-2"></i> Submissions</a>
  </li>
  <li class="{% if active == 'users' %}active{% endif %}">
    <a href="{% url 'chair:users' conf_pk=conference.pk %}"><i class="fas fa-users mr-2"></i> Users</a>
  </li>
  <li class="{% if active == 'messages' %}active{% endif %}">
    <a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}"><i class="far fa-envelope mr-2"></i> Messages</a>
  </li>
  <li class="{% if active == 'reviews' %}active{% endif %}">
    <a href="{% url 'chair:reviews' conf_pk=conference.pk %}"><i class="fas fa-glasses mr-2"></i> Reviews</a>
  </li>
  <li class="{% if active == 'accepted_papers' %}active{% endif %}">
    <a href="{% url 'chair:accepted-papers' conf_pk=conference.pk %}"><i class="fas fa-camera-retro mr-2"></i> Camera-ready</a>
  </li>
</ul>
