{###########################################################################}
{# Users list paged view.                                                  #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `filter_form`: a users filter form                                    #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `page`: a `Page` object, items passed inside is an iterable of PKs    #}
{# - `list_view_url`: this list view URL without query-string part.        #}
{# - `conference`: conference identifier                                   #}
{###########################################################################}
{% extends 'chair/base/list_page.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
  {{ filter_form.media }}
{% endblock %}

{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='users' %}
{% endblock %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">users</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">users</li>
{% endblock %}


{% block toolbar %}
  <form action="{% url 'chair:users' conf_pk=conference.pk %}" method="GET" class="m-2" id="filterForm"></form>

  <div class="d-flex mb-3">
    {% render_field filter_form.term class+="form-control form-control-sm" bound_css_class='' placeholder="Search by name or ID" type="search" form="filterForm" %}
    <button type="submit" form="filterForm" class="btn btn-sm btn-outline-secondary ml-1" id="searchBtn">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="container-fluid px-0 border-bottom">
    <div class="row mb-3">
      <div class="col-sm-3 col-12">
        <div class="btn-group btn-group-sm">
          <a href="#exportDialog" data-toggle="modal" class="btn btn-sm btn-secondary ml-1">
            <i class="fas fa-download"></i>
          </a>
        </div>
      </div>

      <div class="col-sm-9 col-12">
        <div class="d-flex mt-3 mt-sm-0 align-items-center">
          <div class="ml-auto">
            {% render_field filter_form.order class+="form-control form-control-sm active-form-control" form="filterForm" %}
          </div>
          <div class="ml-1">
            {% render_field filter_form.direction class+="form-control form-control-sm active-form-control" form="filterForm" %}
          </div>
          <a href="{% url 'chair:users' conf_pk=conference.pk %}" class="btn btn-link dccn-link dccn-text-small ml-3">Clear filter</a>
        </div>
      </div>
    </div>
  </div>

  {#########################}
  {# MODALS                #}
  {#########################}
  <div class="modal" tabindex="-1" role="dialog" id="exportDialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% render_field filter_form.columns form="filterForm" %}
        </div>
        <div class="modal-footer d-flex align-items-center">
          <p class="dccn-text-smaller pr-3">
            <span class="font-weight-bold">{{ page.paginator.count }}</span>
            user{{ page.paginator.count|pluralize }} matching filters will be exported
          </p>
          <div class="ml-auto"></div>
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="filterForm"
                  formaction="{% url 'chair:users-export-csv' conf_pk=conference.pk%}">Export</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block listViewContent %}
{% for item in page %}
  <div class="dccn-feed-item pb-3" data-html-src="{% url 'chair:user-feed-item' conf_pk=conference.pk user_pk=item %}"
       data-list-view-url="{{ request.get_full_path }}">
    <div class="d-flex">
      <div class="mx-auto text-center">
        <div class="spinner-border"></div>
        <p class="Loading"></p>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}



{#---------------------------------------------------------------------------#}
{# Filter                                                                    #}
{#---------------------------------------------------------------------------#}
{% block filter %}
  <div class="dccn-chair-workspace-filter p-3" id="filterPanel">
    {% render_field filter_form.authorship form="filterForm" %}
    {% render_field filter_form.countries form="filterForm" %}
    {% render_field filter_form.affiliations form="filterForm" %}
    {% render_field filter_form.graduation form="filterForm" %}
    {% render_field filter_form.membership form="filterForm" %}
  </div>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Script                                                                    #}
{#---------------------------------------------------------------------------#}
{% block listPageScript %}
<script src="{% static 'chair/js/user-action.js' %}"></script>
<script>
$(document).ready(() => {
  $('[data-html-src]').each(function () {
    const div = $(this);
    const url = div.attr('data-html-src');
    const params = {'list_view_url': div.attr('data-list-view-url')};
    $.get(url, params, data => {
      div.html(data);
    });
  });

  $('.active-form-control').on('change', function () {
    const el = $(this);
    let form = el.parents('form');
    if (form.length === 0) {
      form = $(`#${el.attr('form')}`);
    }
    form.submit();
  });

  $('input[type="search"]').keypress(function (e) {
    if (e.keyCode === 13) {
      $('#searchBtn').click();
      return false;
    }
  });
});
</script>
{% endblock %}
