{###########################################################################}
{# User overview page.                                                     #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `u`: user                                                             #}
{# - `active_tab`                                                          #}
{###########################################################################}
{% extends 'chair/users/_base.html' %}
{% load gears_extras %}

{% block tabViewContent %}
  {% with profile=u.profile %}

    <div class="d-flex align-items-center">
      <img src="{{ profile.avatar.url }}" alt="{{ profile.get_full_name }} profile image"
           class="rounded-circle img-fluid mr-4" style="max-width: 128px; max-height: 128px;">
      <div>
        <h4 class="dccn-text-larger-light">{{ profile.get_full_name }}</h4>
        {% if profile.get_full_name_rus %}
          <p class="dccn-text-1 text-muted">{{ profile.get_full_name_rus }}</p>
        {% endif %}
        <p class="dccn-text-1 mt-1">
          {{ profile.get_country_display }}, {{ profile.city }}, {{ profile.affiliation }}
        </p>
        <p class="dccn-text-1 mt-0 text-muted">
          {{ profile.degree }}, {{ profile.role }}
        </p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2 dccn-text-1-light mt-4">
      <div class="mx-0 my-0">
        {% if conference|is_author:u %}
          <div class="dccn-feed-item-label">
            {{ conference|num_submissions_by:u }} submissions to {{ conference.short_name }}:
          </div>
          <ul>
            {% for submission in conference|list_submission_by:u %}
              <li>
                <a href="{% url 'chair:submission-overview' conf_pk=conference.pk sub_pk=submission.pk %}"
                   class="dccn-link">{{ submission.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="dccn-feed-item-label text-muted">No papers for {{ conference.short_name }}</div>
        {% endif %}
      </div>
    </div>

    <div class="d-flex align-items-center mt-2 dccn-text-1-light mt-4">
      <div class="mx-0 my-0">
        {% if conference|is_reviewer:u %}
          <div class="dccn-feed-item-label">
            {{ conference|num_reviews_by:u }} reviews for {{ conference.short_name }}:
          </div>
          <ul>
            {% for review in conference|list_reviews_by:u %}
              {% with paper=review.paper %}
                <li>
                  <a href="{% url 'chair:submission-reviewers' conf_pk=conference.pk sub_pk=paper.pk %}"
                     class="dccn-link">{{ paper.title }}</a>
                </li>
              {% endwith %}
            {% endfor %}
          </ul>
        {% else %}
          <div class="dccn-feed-item-label text-muted">No reviews assigned</div>
        {% endif %}
      </div>
    </div>

    {% if next_url %}
      <div class="d-flex">
        <a href="{{ next_url }}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i> Back</a>
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
