{###########################################################################}
{# Users list paged view.                                                  #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `items`: a sequence of submission describing objects                  #}
{# - `filter_form`: a submissions filter form                              #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `page`                                                                #}
{# - `conference`                                                          #}
{###########################################################################}
{% extends 'chair/base/list_page.html' %}
{% load gears_extras %}
{% load bootstrap4 %}

{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='users' %}
{% endblock %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">users</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">users</li>
{% endblock %}


{% block toolbar %}
  <div class="d-flex my-3 pb-3 border-bottom">
    <a href="{% url 'chair:export-users' conf_pk=conference.pk %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-outline-secondary" ><i class="fas fa-download"></i> Export</a>
  </div>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block listViewContent %}
{% for item in page %}
<div class="dccn-feed-item pb-3 mt-0 pt-0">
  <div class="row">
    <div class="col-9 d-flex align-items-center">
      <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=item.pk %}?next={{ request.get_full_path|urlencode }}">
        <img src="{{ item.avatar.url }}" alt="{{ item.name }} profile image" class="rounded-circle img-fluid mr-3" style="width: 96px; height: 96px;">
      </a>
      <div>
        <h4 class="dccn-text-3-light">{{ item.name }}</h4>
        {% if item.name_rus %}
          <p class="dccn-text-small text-muted">{{ item.name_rus }}</p>
        {% endif %}
        <p class="dccn-text-small mt-1">{{ item.country }}, {{ item.city }}, {{ item.affiliation }}</p>
        <p class="dccn-text-small mt-0 text-muted">{{ item.degree }}, {{ item.role }}</p>
      </div>
    </div>

    <div class="col-3 d-flex flex-column align-items-end">
      <div class="mb-2">
        {% if not item.is_reviewer %}
          <form method="POST" action="{% url 'chair:invite-reviewer' conf_pk=conference.pk user_pk=item.pk %}?next={{ request.get_full_path|urlencode }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-info"><span class="fas fa-plus"></span> Invite as a reviewer</button>
          </form>
        {% endif %}
      </div>
      <div class="d-flex align-items-center mt-2 dccn-text-small">
        <div class="mx-0 my-0">
          {% if item.is_participant %}
            <div class="dccn-feed-item-label"><i class="far fa-file text-center" style="width: 20px;"></i> {{ item.num_submissions }} submission{{ item.num_submissions|pluralize:",s" }}</div>
          {% else %}
            <div class="dccn-feed-item-label text-muted">Not attending {{ conference.short_name }}</div>
          {% endif %}
        </div>
      </div>
      {% if item.is_reviewer %}
        <div class="d-flex align-items-center dccn-text-small">
          <div class="mx-0 my-0">
            <div class="dccn-feed-item-label"><i class="fas fa-glasses" style="width: 20px;"></i> {{ item.num_reviews }} review{{ item.num_reviews|pluralize:",s" }}</div>
          </div>
        </div>
        {% if item.num_incomplete_reviews > 0 %}
          <div class="d-flex align-items-center dccn-text-small">
            <div class="mx-0 my-0">
              <div class="dccn-feed-item-label">
                <i class="fas fa-exclamation-triangle text-warning" style="width: 20px;"></i>
                {{ item.num_incomplete_reviews }} incomplete review{{ item.num_incomplete_reviews|pluralize:",s" }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

    </div>
  </div>


  <div class="dccn-feed-item-footer mt-2">
    <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=item.pk %}?next={{ request.get_full_path|urlencode }}"
       class="dccn-feed-item-link">
      <i class="fas fa-bars"></i> View
    </a>
    <form action="{% url 'chair_mail:compose-user' conf_pk=conference.pk %}" method="GET" class="mr-2">
      <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
      <input type="hidden" name="objects" value="{{ item.pk }}">
      <button class="btn btn-link dccn-feed-item-link">
        <i class="fas fa-envelope"></i> Contact
      </button>
    </form>
    {% if item.is_reviewer %}
      <button type="submit" class="btn btn-link dccn-feed-item-link text-danger" data-toggle="modal" data-target="#revokeModal-{{ item.pk }}">
        <i class="fas fa-minus-circle"></i> Revoke reviewer
      </button>
    {% endif %}
    <div class="dccn-feed-item-id ml-auto">#{{ item.pk }}</div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" id="revokeModal-{{ item.pk }}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm reviewer revoke</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to revoke reviewer? If you proceed, {{ item.num_reviews }} reviews will be lost.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="POST" action="{% url 'chair:revoke-reviewer' conf_pk=conference.pk user_pk=item.pk %}?next={{ request.get_full_path|urlencode }}">
            <button type="submit" class="btn btn-danger">Revoke</button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endfor %}
{% endblock %}



{#---------------------------------------------------------------------------#}
{# Filter                                                                    #}
{#---------------------------------------------------------------------------#}
{% block filter %}
  <div class="dccn-chair-workspace-filter">
    <form action="{% url 'chair:users' conf_pk=conference.pk %}" method="GET" class="m-2">
      {% bootstrap_field filter_form.term show_label=False bound_css_class='' %}

      <a href="#detailedFilterFormFields" class="d-block dccn-link mb-3" data-toggle="collapse" id="detailedFilterFormToggler">
        <i class="fas fa-chevron-right"></i>&nbsp; Detailed filter
      </a>

      <div class="collapse" id="detailedFilterFormFields" data-form-filled="{{ filter_form.has_changed }}">
        <div class="form-group">
          <div class="dccn-text-0">Attending
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.attending_status }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Countries
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.countries }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Affiliations
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.affiliations }}
        </div>
      </div>

      <div class="form-group mt-2">
        <button type="submit" class="btn btn-outline-info">Apply</button>
        <a href="{% url 'chair:users' conf_pk=conference.pk %}" class="btn btn-link dccn-link ml-3">Clear filter</a>
      </div>

    </form>
  </div>
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Script                                                                    #}
{#---------------------------------------------------------------------------#}
{% block listItemScript %}
{#  Put additional JS script here if needed #}
{% endblock %}
