{###########################################################################}
{# Sent generic email view. Provides the template text and a list of mail  #}
{# instances actually being sent.                                          #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `msg`: `GroupMessage` object                                          #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `active_tab`: value of `active` context variable for tab navigation   #}
{###########################################################################}
{% extends "chair_mail/_base.html" %}
{% load gears_extras %}
{% load chair_mail_extras %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}">messages</a></li>
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:sent-messages' conf_pk=conference.pk %}">sent</a></li>
  <li class="breadcrumb-item active">#{{ msg.pk }}</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}">messages</a></li>
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:sent-messages' conf_pk=conference.pk %}">sent</a></li>
  <li class="breadcrumb-item active">#{{ msg.pk }}</li>
{% endblock %}


{% block tabViewContent %}
  <div>
    <h1 class="dccn-text-large my-3">{{ msg.subject }}</h1>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sender:</span>
      {{ msg.sent_by.profile.get_full_name }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">To:</span>
      {% for mi in msg.messages.all %}
        {% with u=mi.user_to %}
          <span>
            <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=u.pk %}">{{ u.profile.get_full_name }}</a>
          </span>
          {% if not forloop.last %},{% endif %}
        {% endwith %}
      {% endfor %}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sent at:</span>
      {{ msg.sent_at|date:"d.m.Y G:i" }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Message type:</span>
      {{ msg|msgtype }}
    </p>

    <ul class="nav nav-tabs mt-4">
      <li class="nav-item">
        <a class="nav-link active" href="#html_tab" data-toggle="tab" role="tab">Preview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#md_tab" data-toggle="tab" role="tab">Markdown</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="html_tab">
        <div class="border rounded m-3 p-2">
          {{ msg.body|md2html|safe }}
        </div>
      </div>
      <div class="tab-pane fade" id="md_tab">
        <textarea id="text_md">{{ msg.body }}</textarea>
      </div>
    </div>
  </div>
  <hr>
  {% include 'chair_mail/components/message_list.html' with msg_inst_list=msg.messages.all conference=conference show_user_names=1 %}
{% endblock %}

{% block chairMailScript %}
<script>
$(document).ready(function () {
  requirejs([
    'codemirror/lib/codemirror', 'codemirror/mode/markdown/markdown', 'codemirror/addon/scroll/simplescrollbars'
  ], function (CodeMirror) {
    CodeMirror.fromTextArea(document.getElementById('text_md'), {
      mode: 'markdown',
      theme: 'monokai',
      scrollbarStyle: "simple",
      lineWrapping: true,
      readOnly: true,
      nocursor: true
    });
  });
});
</script>
{% endblock %}