{###########################################################################}
{# Sent generic email view. Provides the template text and a list of mail  #}
{# instances actually being sent.                                          #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `msg`: `GroupMessage` object                                          #}
{# - `recipients`: a list of objects with 'url' and 'name' properties      #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `active_tab`: value of `active` context variable for tab navigation   #}
{###########################################################################}
{% extends "chair_mail/_base.html" %}
{% load gears_extras %}
{% load chair_mail_extras %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}">messages</a></li>
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:sent-messages' conf_pk=conference.pk %}">sent</a></li>
  <li class="breadcrumb-item active">#{{ msg.pk }}</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}">messages</a></li>
  <li class="breadcrumb-item"><a href="{% url 'chair_mail:sent-messages' conf_pk=conference.pk %}">sent</a></li>
  <li class="breadcrumb-item active">#{{ msg.pk }}</li>
{% endblock %}


{% block tabViewContent %}
  <div>
    <h1 class="dccn-text-large my-3">{{ msg.subject }}</h1>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sender:</span>
      {{ msg.sent_by.profile.get_full_name }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">To:</span>
      {% for recipient in recipients %}
        <a href="{{ recipient.url }}">{{ recipient.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sent at:</span>
      {{ msg.sent_at|date:"d.m.Y G:i" }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Message type:</span>
      <span class="badge badge-info p-1 dccn-text-smaller">{{ msg|msgtype }}</span>
    </p>

    <div class="border rounded m-3 p-2 bg-light dccn-text-small">
      <pre><code lang="markdown">{{ msg.body|safe }}</code></pre>
    </div>
  </div>
  <hr>
  <h6>Email messages sent:</h6>
  {% include 'chair_mail/components/email_message_list.html' with msg_list=msg.messages.all conference=conference show_user_names=1 %}
{% endblock %}

{% block chairMailScript %}
<script>
$(document).ready(function () {
  requirejs([
    'codemirror/lib/codemirror', 'codemirror/mode/markdown/markdown', 'codemirror/addon/scroll/simplescrollbars'
  ], function (CodeMirror) {
    CodeMirror.fromTextArea(document.getElementById('text_md'), {
      mode: 'markdown',
      theme: 'monokai',
      scrollbarStyle: "simple",
      lineWrapping: true,
      readOnly: true,
      nocursor: true
    });
  });
});
</script>
{% endblock %}