{###########################################################################}
{# Overview page of the chair email system.                                #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `active_tab`: value of `active` context variable for tab navigation   #}
{# - `frame`: the default conference email frame template                  #}
{###########################################################################}
{% extends 'chair_mail/_base.html' %}
{% load static %}

{% block chairMailStyle %}
  <link rel="stylesheet" href="{% static 'chair_mail/css/dashboard.css' %}">
{% endblock %}

{% block tabViewContent %}
  <h1 class="dccn-text-larger-light mb-4">Mail system overview</h1>

  <div class="row mt-3">
    <div class="col-6 dccn-text-0">Messages sent:</div>
    <div class="col-6">
      <span class="dccn-text-0 font-weight-bold text-info">{{ conference.sent_group_emails.count }}</span>
      (<a href="{% url 'chair_mail:sent-messages' conf_pk=conference.pk %}">View...</a>)
    </div>
  </div>

  <hr>
  <h2 class="dccn-text-large-light mb-3">Message frame template</h2>

  {% if frame %}
    {###########################################}
    {# Display HTML template text and preview: #}
    {###########################################}
    <div class="row mt-4">
      {# HTML editor (read-only mode): #}
      <div class="col-lg-6 col-12">
        <div class="mr-0 mr-lg-3" id="htmlFrameGroup">
          <label for="text_html" class="form-label">HTML (read-only)</label>
          <textarea id="text_html" class="d-none">{{ frame.text_html }}</textarea>
        </div>
      </div>
      {# HTML message preview: #}
      <div class="col-lg-6 col-12">
        <div class="ml-0 ml-lg-3 mt-4 mt-lg-0">
          <label class="form-label">Preview</label>
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="p-3 border" src="{% url 'chair_mail:render-frame-preview' conf_pk=conference.pk %}">
            </iframe>
          </div>
        </div>
      </div>
    </div>
    {###########################################}
    {# Display plain-text template:            #}
    {###########################################}
    <div class="row mt-4">
      <div class="col-12">
        <div class="mr-0 mr-sm-3" id="plainTextFrameGroup">
          <label for="text_plain" class="form-label">Plain-text (read only)</label>
          <textarea id="text_plain" class="d-none">{{ frame.text_plain }}</textarea>
        </div>
      </div>
    </div>
    {###########################################}
    {# Control buttons                       : #}
    {###########################################}
    <div class="mt-4 d-flex">
      <a href="{% url 'chair_mail:frame-details' conf_pk=conference.pk %}" class="btn btn-outline-info">Edit frame</a>
    </div>
  {% else %}
    {###########################################################################}
    {# If frame doesn't exist, inform about it and show 'Create frame' button: #}
    {###########################################################################}
    <p class="dccn-text-0 text-info">
      No message frame template for the conference is defined so far. You need to create one first.
    </p>
    <div class="d-flex mt-4">
      <form action="{% url 'chair_mail:create-frame' conf_pk=conference.pk %}?next={{ request.get_full_path|urlencode }}"
            method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">Create frame</button>
      </form>
    </div>
  {% endif %}
{% endblock %}


{% block chairMailScript %}
<script>
$(document).ready(function () {
  requirejs([
    'codemirror/lib/codemirror', 'codemirror/mode/htmlmixed/htmlmixed', 'codemirror/addon/scroll/simplescrollbars'
  ], function (CodeMirror) {
    const defaultProps = {
      theme: 'monokai', scrollbarStyle: "simple", lineWrapping: true,  readOnly: true, nocursor: true
    };
    const htmlTextArea = document.getElementById('text_html');
    const plainTextArea = document.getElementById('text_plain');
    if (htmlTextArea) {
      CodeMirror.fromTextArea(htmlTextArea, {
        mode: 'htmlmixed',
        ...defaultProps
      });
    }
    if (plainTextArea) {
      CodeMirror.fromTextArea(plainTextArea, defaultProps);
    }
  });

});
</script>
{% endblock %}
