{% extends "user_site/base.html" %}

{% block title %}
  Profile | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='profile' %}
{% endblock %}

{% block body %}
<main class="container py-3">
  <div class="dccn-layout-col">

    <div class="dccn-panel w-100">
      <h1 class="dccn-panel-title">Profile</h1>
      {% include 'user_site/components/profile_navigation.html' with active='reviewer' %}

      <div class="dccn-content p-4">
        <h3 class="font-weight-lighter text-center mb-3">Invitations</h3>
        <p class="text-center font-weight-lighter text-info dccn-text">
          <i class="fas fa-magic mr-1"></i> You do not have any invitations for reviewing.
        </p>
      </div>

    </div>
  </div>

</main>
{% endblock %}
