{% extends 'user_site/base.html' %}
{% load submission_extras %}
{% load review_extras %}
{% load bootstrap4 %}

{% block title %}
  Submissions | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='submissions' %}
{% endblock %}

{% block body %}
<main class="container py-3">
  <div class="dccn-layout-row-lg-col">

    <!-- PROFILE BOX -->
    {% include 'user_site/components/profile_panel.html' with user=user numSubmissions=submissions|length numReviews=user|count_incomplete_reviews %}

    <!-- SUBMISSIONS BOX -->
    <div class="dccn-panel dccn-work-panel" style="min-height: 90vh;">
      <h2 class="dccn-panel-title">Submissions</h2>

      {% bootstrap_messages %}

      <div class="dccn-panel-toolbar">
        <a href="{% url 'submissions:create' %}" class="btn btn-primary btn-sm btn-block btn-sm-normal mb-3 mb-lg-0">
          <i class="fas fa-plus pr-2"></i>New
        </a>
      </div>

      {% for submission in submissions %}
        {% with review_stats=submission.conference.review_stats %}
        {% if submission.status == submission.SUBMITTED %}
          {% include 'submissions/components/card_submitted.html' with submission=submission %}
        {% elif submission.status == submission.UNDER_REVIEW %}
          {% include 'submissions/components/card_review.html' with submission=submission %}
        {% elif submission.status == submission.ACCEPTED %}
          {% include 'submissions/components/card_accepted.html' with submission=submission review_stats=review_stats %}
        {% elif submission.status == submission.REJECTED %}
          {% include 'submissions/components/card_rejected.html' with submission=submission review_stats=review_stats %}
        {% elif submission.status == submission.IN_PRINT %}
          {% include 'submissions/components/card_inprint.html' with submission=submission review_stats=review_stats %}
        {% elif submission.status == submission.PUBLISHED %}
          {% include 'submissions/components/card_published.html' with submission=submission review_stats=review_stats %}
        {% else %}
          {{ submission.title }} -- {{ submission.get_status_display }}
        {% endif %}
        {% endwith %}
      {% endfor %}

    </div>
  </div>

</main>
{% endblock %}
