{###########################################################################}
{# Modal dialog for conformation of settings status **SUBMITTED**.         #}
{#                                                                         #}
{# DIALOG ID: setStatusDialog-SUBMITTED-{{ pk }}                           #}
{#                                                                         #}
{# Exmpale: setStatusDialog-SUBMITTED-13                                   #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `submission`: a submission                                            #}
{###########################################################################}
<div class="modal fade" tabindex="-1" role="dialog" id="setStatusDialog-SUBMITTED-{{ submission.pk }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title">Confirm status update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="mr-4">
          <i class="fas fa-exclamation-triangle fa-5x text-warning"></i>
        </div>
        <div>
          <p class="dccn-text-small">
            If you proceed, status of the submission #<b>{{ submission.pk }} "{{ submission.title }}"</b>
            will be changed to <b>Submitted</b>, authors will receive an email (if notifications are enabled) about it.
          </p>
          <p class="dccn-text-small mt-3">Are you sure you want to proceed?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <form action="{% url 'chair:revoke-review' sub_pk=submission.pk %}" method="POST" class="inst-form">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
