{% extends 'auth_app/email/email_base.html' %}

{% block title %}
  DCCN Password Reset
{% endblock %}

{% block subject %}
  Password Reset
{% endblock %}

{% block body %}
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Someone asked for password reset for email {{ email }}. Follow <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">this link</a> to reset your password.
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Please ignore this message if you didn't request password reset.
</p>
{% endblock %}
