{###########################################################################}
{# CONTEXT:                                                                #}
{# - preview_form: form with fields `user` and `body`                      #}
{# - submission: User the message is sent to                               #}
{###########################################################################}
{% extends 'chair_mail/compose/_base.html' %}
{% load bootstrap4 %}

{% block composeMessageStyle %}
{% endblock %}


{% block composeTarget %}
  <a href="{% url 'chair:submission-overview' conf_pk=conference.pk sub_pk=submission.pk %}" class="dccn-link"
     data-toggle="tooltip" data-placement="bottom" title="{{ submission.get_authors_display }}">
    "{{ submission.title }}" (#{{ submission.pk }})
  </a>
{% endblock %}


{% block previewTabContent %}
  <form id="previewForm" method="GET">
    {% bootstrap_field preview_form.user show_label=False %}
  </form>
  <div id="previewContent" class="border p-3 message-preview-area"
       data-source="{% url 'chair_mail:api-render-preview-submission' conf_pk=conference.pk sub_pk=submission.pk %}">
  </div>
{% endblock %}


{% block composeMessageScript %}
  <script>
  const previewContent = $('#previewContent');
  const dataSourceURL = previewContent.attr('data-source');
  const previewForm = $('#previewForm');
  const updatePreview = function () {
    const body = cmedit.getValue();
    const formData = previewForm.serializeArray();
    formData.push({name: 'body', value: body});
    $.get(dataSourceURL, $.param(formData), function (data) {
      previewContent.html(data['body']);
    });
  };

  $('#previewTabLink').on('shown.bs.tab', function () {
    updatePreview();
  });
  $('#id_user').change(function () {
    updatePreview();
  });
  </script>
{% endblock %}
