{###########################################################################}
{# CONTEXT:                                                                #}
{# - user_to: User the message is sent to                                  #}
{###########################################################################}
{% extends 'chair_mail/compose/_base.html' %}
{% load bootstrap4 %}

{% block composeMessageStyle %}
{% endblock %}


{% block composeTarget %}
  <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=user_to.pk %}">
    {{ user_to.profile.get_full_name }}
  </a>
{% endblock %}
