<p class="dccn-text-small">
  Message frame templates define how the messages look like. They only define structure, however, all the content is
  specified in separate blocks:
</p>
<ul>
  <li class="dccn-text-small">
    <span class="text-info">subject</span>: defined when writing a new letter.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">body</span>: as well as <span class="text-info">subject</span>, defined when writing a letter.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">site_url</span>: use this variable when you need to refer to the registration system site.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">conf_email</span>: email for contacting organizing committee.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">conf_site_url</span>: URL of the conference informational site.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">conf_full_name</span>: full name of the conference (i.e. International Conference on Animals and Birds 2019).
  </li>
  <li class="dccn-text-small">
    <span class="text-info">conf_short_name</span>: short name of the conference (i.e. ICAB'2019).
  </li>
  <li class="dccn-text-small">
    <span class="text-info">conf_logo_url</span>:
    URL of the conference logotype. Note, that it better should be located at some well-known source (like Google Drive or Amazon S3),
    since some email clients may cut images from suspicious sources.
  </li>
</ul>

<p class="dccn-text-small">
  We define HTML and plain-text templates separately, because usually it is better to provide both email messages
  versions. No matter what type of email client our user prefers, he or she should see a nice letter! And HTML
  to text converters sometimes provide awful results.
</p>
