{###############################################}
{# CONTEXT:                                    #}
{# - msg_list: a list of GroupMessage items    #}
{###############################################}
{% load chair_mail_extras %}
{% for msg in msg_list %}
  <a class="d-flex list-group-item list-group-item-action py-1"
     href="{% url 'chair_mail:message-details' conf_pk=conference.pk msg_pk=msg.pk %}?next={{ request.get_full_path|urlencode }}">
    <div>
      <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
      <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
    </div>
    <div class="ml-auto"><span class="badge badge-info">{{ msg|msgtype }}</span></div>
  </a>
{% empty %}
  <p class="dccn-text-0 text-center">No messages.</p>
{% endfor %}
