{###########################################################################}
{# A list of group messages sent.                                          #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `msg_list`: sequence of `GroupMessage` objects.                       #}
{# - `conference`                                                          #}
{###########################################################################}
{% load chair_mail_extras %}
{% load static %}
<link rel="stylesheet" href="{% static 'chair_mail/css/messages.css' %}">
<div class="messages-list-container">
  {% if msg_list|length > 0 %}
  <div class="list-group">
    {% for msg in msg_list %}
    <a class="d-flex list-group-item list-group-item-action py-2 bg-light"
       href="{% url 'chair_mail:message-details' conf_pk=conference.pk msg_pk=msg.pk %}?next={{ request.get_full_path|urlencode }}">
      <div>
        <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
        <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
      </div>
      <div class="ml-auto"><span class="badge badge-info p-2">{{ msg|msgtype }}</span></div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p class="messages-list-container-empty text-info">
    <i class="fas fa-ban"></i> You have not sent any messages yet.
  </p>
  {% endif %}
</div>
