<ul class="nav nav-pills justify-content-start">
  <li class="nav-item">
    <a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'overview' %}active{% endif %}">
      Overview
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'chair_mail:html_template' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'html_template' %}active{% endif %}">
      HTML template
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'chair_mail:plain_template' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'plain_template' %}active{% endif %}">
      Plain text template
    </a>
  </li>
</ul>
