<ul class="nav nav-pills justify-content-start">
  <li class="nav-item">
    <a href="{% url 'chair_mail:overview' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'overview' %}active{% endif %}">
      Overview
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'chair_mail:message-template' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'template' %}active{% endif %} {% if not template %}disabled text-dark-2{% endif %}">
      Template
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'chair_mail:sent-messages-list' conf_pk=conference.pk %}"
       class="nav-link {% if active == 'messages' %}active{% endif %} {% if not template %}disabled text-dark-2{% endif %}">
      Sent messages
    </a>
  </li>
</ul>
