{#---------------------------#}
{# CONTEXT:                  #}
{# - email_messages          #}
{# - conf_pk                 #}
{# - show_user_names         #}
{#---------------------------#}

<div>
  <div class="list-group">
    {% for msg in email_messages %}
      <a class="d-flex list-group-item list-group-item-action py-1" href="{% url 'chair_mail:message-instance-details' conf_pk=conf_pk msg_pk=msg.pk %}?next={{ request.get_full_path|urlencode }}">
        <div>
          <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
          {% if show_user_names %}
            <span class="dccn-text-small mr-2">
              (<span class="text-info font-weight-bold">{{ msg.user_to.profile.get_full_name }}</span>)
            </span>
          {% endif %}
          <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
        </div>
        <div class="ml-auto"><span class="badge badge-info">{{ msg.message.message_type }}</span></div>
      </a>
    {% endfor %}
  </div>
</div>
