{#---------------------------#}
{# CONTEXT:                  #}
{# - email_messages          #}
{# - conf_pk                 #}
{#---------------------------#}

<div class="container">
  <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
  <div class="list-group">
    {% for msg in email_messages %}
      <a class="d-flex list-group-item list-group-item-action py-1" href="{% url 'chair_mail:message-instance-details' conf_pk=conf_pk msg_pk=msg.pk %}?next={{ request.get_full_path|urlencode }}">
        <div>
          <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
          <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
        </div>
        <div class="ml-auto"><span class="badge badge-info">{{ msg.message.message_type }}</span></div>
      </a>
    {% endfor %}
  </div>
</div>
