{#---------------------------#}
{# CONTEXT:                  #}
{# - email_messages          #}
{# - conf_pk                 #}
{#---------------------------#}

<div class="container">
  <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
  <div class="list-group">
    {% for msg in email_messages %}
      <div class="d-flex list-group-item list-group-item-action py-1" data-toggle="collapse" data-target="#messageBody-{{ msg.pk }}">
        <div>
          <span class="dccn-text-small text-muted mr-2">{{ msg.sent_at|date:"d.m.Y G:i" }}</span>
          <span class="dccn-text-0 font-weight-bold">{{ msg.subject }}</span>
        </div>
        <div class="ml-auto"><span class="badge badge-info">{{ msg.message.message_type }}</span></div>
      </div>
      <div class="container border p-3 collapse dccn-sent-email-instance-view" id="messageBody-{{ msg.pk }}" data-loaded="0">
        <div data-source="{% url 'chair_mail:get-message-inst-html' conf_pk=conf_pk msg_pk=msg.pk %}" class="dccn-email-view-box">
        </div>
        <div class="d-flex">
          <button class="btn btn-info btn-sm">Show template</button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
