<p class="dccn-text-small">
  Message templates define how the messages look like. They only define structure, however, all the content is
  specified in separate blocks:
</p>
<ul>
  <li class="dccn-text-small">
    <span class="text-info">subject</span>: defined when writing a new letter.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">body</span>: as well as <span class="text-info">subject</span>, defined when writing a letter.
  </li>
  <li class="dccn-text-small">
    <span class="text-info">site_url</span>: use this variable when you need to refer to the registration system site.
  </li>
</ul>

<p class="dccn-text-small">
  We define HTML and plain-text templates separately, because usually it is better to provide both email messages
  versions. No matter what type of email client our user prefers, he or she should see a nice letter! And HTML
  to text converters sometimes provide awful results.
</p>
