{###########################################################################}
{# List artifacts.                                                         #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `submission`: a submission                                            #}
{# - `hide_missing`: whether display or not missing artifacts              #}
{# - `mark_mandatory`: whether higlight mandatory artifacts                #}
{###########################################################################}
{% load proceedings %}
{% load submission_extras %}

{% for camera in submission|camera_ready_set_of %}
  {% for art in camera.artifact_set.all %}
    {% with attachment=art.attachment %}
      {% if attachment.access != 'NO' %}
        {% if not hide_missing or attachment.file %}
          {% with descriptor=art.descriptor %}
            <div class="dccn-text-small mb-2 d-flex align-items-center justify-content-between ml-3">
              <div class="mr-2 {% if mark_mandatory and descriptor.mandatory %}font-weight-normal{% else %}font-weight-light{% endif %}">
                {% if mark_mandatory and descriptor.mandatory %}<span class="dccn-text-smallest"><i class="fas fa-star-of-life"></i></span>{% endif %}
                {{ descriptor.name }}:
              </div>
              <div>
                {% if attachment.file %}
                  <a href="{% url 'chair:download-attachment' att_pk=attachment.pk %}" target="_blank"
                     class="dccn-link dccn-text-smallest-light">
                    {{ attachment.get_chair_download_name }} <i class="{{ art|file_icon_class }}"></i>
                  </a>
                {% else %}
                  <i class="fas fa-question-circle text-{% if descriptor.mandatory %}danger{% else %}warning{% endif %} "></i>
                {% endif %}
              </div>
            </div>
          {% endwith %}
        {% endif %}
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endfor %}
