{% extends 'chair/submissions/feed/_card_base.html' %}


{% block cardBodyColumns %}
  {# 1 Leftmost column: title, authors, warnings #}
  <div class="col-12 col-xl-4">
    {% include 'chair/submissions/feed/_title_authors.html' with submission=submission %}
    {% if warnings %}
      <div class="dccn-feed-item-messages mt-3">
        {% include 'chair/submissions/feed/_warning_list.html' with submission=submission %}
      </div>
    {% endif %}
  </div>

  {# 2 Rightmost column: filled depending on the submission status #}
  <div class="col-12 col-xl-8 mt-3 mt-xl-0">
    <div class="ml-0 ml-lg-3">
    {% block rightBodyColumn %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
