{###########################################################################}
{# Submission feed item base.                                              #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `submission`: a submission                                            #}
{# - `list_view_url`: a URL of the list view that renders this card        #}
{###########################################################################}
{% load submission_extras %}

{% with warnings=submission|submission_warnings:'chair' %}
<div>
  {#------------------------------------------ #}
  {# 1 Card top row: status, indications, etc. #}
  {#------------------------------------------ #}
  <div class="dccn-feed-item-row align-items-center">
    {# 1.1 Submission status indicator - always at the left corner #}
    <div class="dccn-feed-item-label dccn-feed-item-status">
      <i class="fas fa-circle text-{{ submission|submission_status_color_class }}"></i> {{ submission.get_status_display }}
    </div>
    {# 1.2 Display number of warnings next to submission status: #}
    {% with num_warnings=warnings|length %}
      {% if num_warnings %}
        <div class="dccn-feed-item-label mx-2">
          <i class="fas fa-exclamation-triangle text-warning"></i> {{ num_warnings }}
        </div>
      {% endif %}
    {% endwith %}
    {% block statusRowItems %}
      {# Put additional status row items here #}
    {% endblock %}
  </div>

  {#------------------------------------------ #}
  {# 2 Card body                               #}
  {#------------------------------------------ #}
  <div class="row">
    {% block cardBodyColumns %}
      <div class="col-12">
        {% include 'chair/submissions/feed/_title_authors.html' with submission=submission %}
        {% if warnings %}
          <div class="dccn-feed-item-messages mt-3">
            {% include 'chair/submissions/feed/_warning_list.html' with warnings=warnings %}
          </div>
        {% endif %}
        {% block cardBodyBottom %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>


  {#------------------------------------------ #}
  {# 3 Card bottom row: details, actions, etc. #}
  {#------------------------------------------ #}
  <div class="dccn-feed-item-footer mt-4">
    {# 3.1 Link to submission details #}
    <a href="{% url 'chair:submission-overview' sub_pk=submission.pk %}" class="dccn-feed-item-link">
      <i class="fas fa-align-justify"></i> Details
    </a>
    {# 3.2 Link to message composing #}
    <form action="{% url 'chair_mail:compose-submission' conf_pk=submission.conference_id %}" method="GET" class="mr-2">
      <input type="hidden" name="next" value="{{ list_view_url }}">
      <input type="hidden" name="objects" value="{{ submission.pk }}">
      <button class="btn btn-link dccn-feed-item-link"><i class="fas fa-envelope"></i> Contact</button>
    </form>

    {# 3.3 Delete submission button #}
    <a href="#deleteSubmissionDialog-{{ submission.pk }}" data-toggle="modal" class="dccn-feed-item-link text-danger-16">
      <i class="far fa-trash-alt"></i> Delete
    </a>
    {% include 'chair/submissions/components/_delete_modal.html' with submission=submission %}

    {# 3.4 Additional actions, links, etc. #}
    {% block footerRowItems %}
      {# Put additional actions here #}
    {% endblock %}
    {# 3.5 Submission ID #}
    <div class="dccn-feed-item-id ml-auto">#{{ submission.pk }}</div>
  </div>
</div>
{% endwith %}