{###########################################################################}
{# Decision control panel.                                                 #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `conf_pk`                                                             #}
{# - `sub_pk`                                                              #}
{# - `form_data`: form data object for decision control                    #}
{###########################################################################}
{% load review_extras %}
<form action="{% url 'review:update-decision' sub_pk=sub_pk %}" method="POST"
      id="updateDecisionForm_{{ sub_pk }}" class="inst-form" novalidate>
  {% csrf_token %}
  <input type="hidden" name="decision" value="{{ form_data.decision.value }}">
  <input type="hidden" name="proc_type" value="{{ form_data.proc_type.value }}">
  <input type="hidden" name="volume" value="{{ form_data.volume.value }}">
</form>

{# Put controls into a column to the left, and commit button - to the right: #}
<div class="d-flex align-items-end justify-content-between">
  {# Dropdown controls: #}
  <div>
    {% if form_data.decision and not form_data.decision.hidden %}
      <div>
        <b>Decision: </b>
        <span class="dropdown-left">
          <a href="#" data-toggle="dropdown"
             class="dccn-link font-weight-normal text-{{ form_data.decision.value|decision_color_class }}">
            {{ form_data.decision.display }} <i class="{{ form_data.decision.value|decision_icon_class }}"></i>
          </a>
          <span class="dropdown-menu">
            {% for option in form_data.decision.options %}
              <button class="inst-form-btn dropdown-item"
                      data-form-id="#updateDecisionForm_{{ sub_pk }}"
                      data-name="decision"
                      data-value="{{ option.0 }}">
                {{ option.1 }}
              </button>
            {% endfor %}
          </span>
        </span>
      </div>
      {% endif %}

      {% if form_data.proc_type and not form_data.proc_type.hidden %}
      <div class="mt-1">
        <b>Proceedings: </b>
        <span class="dropdown">
          <a href="#" data-toggle="dropdown"
             class="dccn-link font-weight-normal text-{{ form_data.proc_type.value|decision_color_class }}">
            {{ form_data.proc_type.display }}
          </a>
          <span class="dropdown-menu">
            {% for option in form_data.proc_type.options %}
              <button class="inst-form-btn dropdown-item"
                      data-form-id="#updateDecisionForm_{{ sub_pk }}"
                      data-name="proc_type"
                      data-value="{{ option.0 }}">
                {{ option.1 }}
              </button>
            {% endfor %}
          </span>
        </span>
      </div>
      {% endif %}

      {% if form_data.volume and not form_data.volume.hidden %}
      <div class="mt-1">
        <b>Volume: </b>
        <span class="dropdown">
          <a href="#" data-toggle="dropdown"
             class="dccn-link font-weight-normal text-{{ form_data.volume.value|decision_color_class }}">
            {{ form_data.volume.display }}
          </a>
          <span class="dropdown-menu">
            {% for option in form_data.volume.options %}
              <button class="inst-form-btn dropdown-item"
                      data-form-id="#updateDecisionForm_{{ sub_pk }}"
                      data-name="volume"
                      data-value="{{ option.0 }}">
                {{ option.1 }}
              </button>
            {% endfor %}
          </span>
        </span>
      </div>
    {% endif %}
  </div>

  {# Commit button: #}
  <div>
    {% if not form_data.committed %}
      <form action="{% url 'review:commit-decision' sub_pk=sub_pk %}" method="POST"
            class="inst-form mr-2 text-right" novalidate>
        {% csrf_token %}
        <input class="btn btn-sm btn-outline-success {% if form_data.committed %}disabled{% endif %}"
               type="submit" value="Commit">
      </form>
    {% endif %}
  </div>
</div>
