{###########################################################################}
{# Submission feed item content in **SUBMITTED** state.                    #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `submission`: a submission dictionary object                          #}
{# - `list_view_url`: a URL of the list view that renders this card        #}
{###########################################################################}
{% extends 'chair/submissions/feed/_card_base.html' %}

{% block footerRowItems %}
  <button class="btn btn-link dccn-feed-item-link" data-toggle="submission-status" data-status="REVIEW"
          data-target="{% url 'submissions:update-status' pk=submission.pk %}">
    {% csrf_token %}
    <i class="fas fa-forward"></i> Start review
  </button>
{% endblock %}
