{###########################################################################}
{# Submission feed item content in **REVIEW** state.                       #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `submission`: a submission dictionary object                          #}
{# - `list_view_url`: a URL of the list view that renders this card        #}
{# - `review_stats`: an instance of `ReviewStats` object                   #}
{# - `form_data`: form data for decision pseudo-form                       #}
{###########################################################################}
{% extends 'chair/submissions/feed/_card_base_columed.html' %}
{% load submission_extras %}
{% load review_extras %}
{% load gears_extras %}


{% block rightBodyColumn %}
  {% with reviews=submission.reviews.all %}
    <div class="ml-3 d-flex align-items-center mt-0 pt-0 mb-2">
      <div class="dccn-text-large">
        {% with score=submission|average_score quality=review_stats|quality_of:submission %}
          <i class="{{ quality|quality_icon_class }} text-{{ quality|quality_color }}"></i>
          <a class="text-{{ quality|quality_color }}"
             href="{% url 'chair:submission-reviewers' sub_pk=submission.pk %}">{{ score }}</a>
        {% endwith %}
      </div>
      <div class="ml-3 dccn-text-large-light">
        {% spaceless %}
          <span>(</span>
            {% for review in reviews %}
              {% with quality=review_stats|quality_of:review %}
                <a class="text-{{ quality|quality_color }}" href="#reviewModal-{{ submission.pk }}-{{ review.pk }}"
                   data-toggle="modal">{{ review|average_score|default:'?' }}</a>
                {% if not forloop.last %}<span>, </span>{% endif %}
              {% endwith %}
            {% endfor %}
            {% with miss_revs=submission|missing_reviews %}
              {% if miss_revs|length != 0 and reviews|length != 0 %}<span>, </span>{% endif %}
              {% for symbol in miss_revs %}
                <a class="text-danger-15 dccn-text-normal"
                   href="{% url 'chair:submission-reviewers' sub_pk=submission.pk %}">
                  <i class="fas fa-minus"></i></a>
                {% if not forloop.last %}<span>, </span>{% endif %}
              {% endfor %}
            {% endwith %}
          <span>)</span>
        {% endspaceless %}
      </div>
    </div>
    <div class="review-feed-item-controls ml-3 my-3">
      {% include 'chair/submissions/components/_decision_control.html' with form_data=form_data sub_pk=submission.pk %}
    </div>

  {# Add modal dialogs for review preview: #}
  {% for review in reviews %}
    {% with quality=review_stats|quality_of:review %}
      <div class="modal fade" tabindex="-1" role="dialog" id="reviewModal-{{ submission.pk }}-{{ review.pk }}">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header bg-{{ quality|quality_color }} text-light">
              {% spaceless %}
                <h5 class="modal-title ml-3">
                  <span>Review by {{ review.reviewer.user.profile.get_full_name }}</span>
                  {% if not review.submitted %}<span class="font-weight-bold"> (not finished)</span>{% endif %}
                </h5>
              {% endspaceless %}
              <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex align-items-center">
                <div class="mx-5">
                  <i class="fa-4x {{ quality|quality_icon_class }} text-{{ quality|quality_color }}"></i>&nbsp;
                </div>
                <div class="ml-3 my-2 dccn-text-normal-light">
                  <p class="my-0">
                    <span>Technical merit: </span>
                    <span class="font-weight-bold">
                      {{ review.technical_merit|default:'?' }}
                    </span>
                  </p>
                  <p class="my-1">
                    <span>Clarity: </span>
                    <span class="font-weight-bold">
                      {{ review.clarity|default:'?' }}
                    </span>
                  </p>
                  <p class="my-1">
                    <span>Originality: </span>
                    <span class="font-weight-bold">
                      {{ review.originality|default:'?' }}
                    </span>
                  </p>
                  <p class="my-1">
                    <span>Relevance: </span>
                    <span class="font-weight-bold">
                      {{ review.relevance|default:'?' }}
                    </span>
                  </p>
                </div>
              </div>
              <p class="m-5 font-italic text-secondary dccn-text-normal-light">{{ review.details }}</p>
            </div>
            <div class="modal-footer mx-3">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    {% endwith %}
  {% endfor %}
  {% endwith %}
{% endblock %}


{% block footerRowItems %}
  {% if submission.stype %}
    {% with num_required=submission.stype.num_reviews num_reviews=submission.reviews.count %}
        <a href="{% url 'chair:submission-reviewers' sub_pk=submission.pk %}" class="dccn-feed-item-link">
          <i class="fas fa-glasses"></i> Reviewers
          (<span class="{% if num_reviews < num_required %}text-danger-12{% endif %}">{{ num_reviews }}/{{ num_required }}</span>)
        </a>
    {% endwith %}
  {% endif %}
  <button class="btn btn-link dccn-feed-item-link" data-toggle="submission-status" data-status="SUBMIT"
          data-target="{% url 'submissions:update-status' pk=submission.pk %}">
    {% csrf_token %}
    <i class="fas fa-backward"></i> Revoke review
  </button>
{% endblock %}
