{###########################################################################}
{# Submission feed item content in **REVIEW** state.                       #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `conf_pk`: conference primary key                                     #}
{# - `submission`: a submission dictionary object                          #}
{# - `decision_data`: form data for decision pseudo-form                   #}
{# - `revews_data`: TODO, maybe remove                                     #}
{###########################################################################}
{% extends 'chair/submissions/feed/_card_base_columed.html' %}
{% load submission_extras %}
{% load review_extras %}

{% block statusRowItems %}
{% endblock %}


{% block rightBodyColumn %}
  <div class="ml-3 d-flex align-items-center mt-0 pt-0 mb-2">
    <div class="dccn-text-large">
      <i class="{{ quality|quality_icon_class }} text-{{ quality|quality_color }} mr-2"></i>
      <span class="text-{{ quality|quality_color }}">{{ submission|average_score }}</span>
    </div>
    <div class="ml-3 dccn-text-large-light">
      ({% for review in reviews_data %}
        <span class="text-{{ review.quality|quality_color }}">{{ review.score }}</span>{% if not forloop.last %}, {% endif %}
      {% endfor %})
    </div>
  </div>
  <div class="review-feed-item-controls ml-3 my-3">
    {% include 'chair/submissions/feed/components/_decision_control.html' with form_data=decision_data conf_pk=conf_pk sub_pk=submission.pk %}
  </div>
{% endblock %}


{% block footerRowItems %}
{#    TODO:#}
{#    <a href="{% url 'chair:submission-reviewers' conf_pk=conference.pk sub_pk=item.pk %}" class="dccn-feed-item-link">#}
{#      <i class="fas fa-glasses"></i> Select reviewers#}
{#      (<span class="{% if item.num_reviews < item.num_reviews_required %}text-danger{% endif %}">{{ submission.num_reviews }}/{{ submission.num_reviews_required }}</span>)#}
{#    </a>#}
{#      <form action="{% url 'chair:revoke-review' conf_pk=conference.pk sub_pk=item.pk %}?next={{ request.get_full_path|urlencode }}"#}
{#            method="POST" >#}
{#        {% csrf_token %}#}
{#        <button type="submit" class="btn btn-sm btn-outline-warning"><i class="fas fa-times"></i> Revoke review</button>#}
{#      </form>#}
{% endblock %}
