{###########################################################################}
{# Submission feed item content in **REJECTED** state.                     #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `conf_pk`: conference primary key                                     #}
{# - `submission`: a submission dictionary object                          #}
{# - `decision_data`: form data for decision pseudo-form                   #}
{###########################################################################}
{% extends 'chair/submissions/feed/_card_base.html' %}
{#{% load submission_extras %}#}
{% load review_extras %}

{% block statusRowItems %}
  {# Show average score in the status row: #}
  <div class="dccn-feed-item-label ml-2 text-{{ submission|quality_of|quality_color }}">
    <i class="far fa-star"></i> {{ submission|average_score }}
  </div>
{% endblock %}


{% block footerRowItems %}
  {% include 'chair/submissions/feed/components/_start_review_button.html' with submission=submission label='Revert to review' icon='fas fa-backward' %}
{% endblock %}
