{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/dccn-ui.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% block css %}
  {% endblock %}
</head>
<body class="user-main">

<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">DCCN</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</header>


<main class="container py-3" style="min-height: 86vh;">
  <div class="dccn-layout-col">

    <div class="dccn-panel">
      <h1 class="dccn-panel-title text-center">{% block h1 %}{% endblock %}</h1>
      <h1 class="dccn-subtitle text-center">{% block h2 %}{% endblock %}</h1>
      {% block dialogCard %}
      {% endblock %}
    </div>

    {% block dialogFooter %}
    {% endblock %}

  </div>
</main>


<footer class="container-fluid bg-dark">
  <div class="container py-4">
    <p class="text-center text-light">Copyright &copy;<span class="current-year"></span></p>
  </div>
</footer>

<script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $.widget.bridge('uitooltip', $.ui.tooltip);
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'scripts/dccn-ui.js' %}"></script>

{% block script %}
{% endblock %}

</body>
</html>
