{###########################################################################}
{# User feed item.                                                         #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `profile`: a Profile object annotate with:                            #}
{#     * full_name_rus                                                     #}
{#     * is_reviewer                                                       #}
{#     * num_reviews                                                       #}
{#     * num_incomplete_reviews                                            #}
{#     * num_submissions                                                   #}
{# - `list_view_url`: a URL of the list view that renders this card        #}
{###########################################################################}
{% with user_id=profile.user_id %}
<div class="row">
  <div class="col-9 d-flex align-items-center">
    <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}">
      <img src="{{ profile.avatar.url }}" alt="{{ profile.get_full_name }} profile image" class="rounded-circle img-fluid mr-3"
           style="width: 96px; height: 96px;">
    </a>
    <div>
      <h4 class="dccn-text-3-light">{{ profile.get_full_name }}</h4>
      {% if profile.full_name_rus %}
        <p class="dccn-text-small text-muted">{{ profile.full_name_rus }}</p>
      {% endif %}
      <p class="dccn-text-small mt-1">{{ profile.country }}, {{ profile.city }}, {{ profile.affiliation }}</p>
      <p class="dccn-text-small mt-0 text-muted">{{ profile.degree }}, {{ profile.role }}</p>
    </div>
  </div>

  <div class="col-3 d-flex flex-column align-items-end">
    <div class="mb-2">
      {% if not profile.is_reviewer %}
        <form  action="{% url 'chair:invite-reviewer' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}"
               method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-outline-info"><span class="fas fa-plus"></span> Invite as a reviewer</button>
        </form>
      {% endif %}
    </div>
    <div class="d-flex align-items-center mt-2 dccn-text-small">
      <div class="mx-0 my-0">
        <div class="dccn-feed-item-label">
          <i class="far fa-file text-center" style="width: 20px;"></i>
          {{ profile.num_submissions }} submission{{ profile.num_submissions|pluralize:",s" }}
        </div>
      </div>
    </div>
    {% if profile.is_reviewer %}
      <div class="d-flex align-items-center dccn-text-small">
        <div class="mx-0 my-0">
          <div class="dccn-feed-item-label">
            <i class="fas fa-glasses" style="width: 20px;"></i>
            {{ profile.num_reviews }} review{{ profile.num_reviews|pluralize:",s" }}
          </div>
        </div>
      </div>
      {% if profile.num_incomplete_reviews > 0 %}
        <div class="d-flex align-items-center dccn-text-small">
          <div class="mx-0 my-0">
            <div class="dccn-feed-item-label">
              <i class="fas fa-exclamation-triangle text-warning" style="width: 20px;"></i>
              {{ profile.num_incomplete_reviews }} incomplete review{{ profile.num_incomplete_reviews|pluralize:",s" }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>


<div class="dccn-feed-item-footer mt-2">
  <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}"
     class="dccn-feed-item-link">
    <i class="fas fa-bars"></i> View
  </a>
  <form action="{% url 'chair_mail:compose-user' conf_pk=conference.pk %}" method="GET" class="mr-2">
    <input type="hidden" name="next" value="{{ list_view_url }}">
    <input type="hidden" name="objects" value="{{ user_id }}">
    <button class="btn btn-link dccn-feed-item-link">
      <i class="fas fa-envelope"></i> Contact
    </button>
  </form>
  {% if profile.is_reviewer %}
    <button type="submit" class="btn btn-link dccn-feed-item-link text-danger"
            data-toggle="modal" data-target="#revokeModal-{{ user_id }}">
      <i class="fas fa-minus-circle"></i> Revoke reviewer
    </button>
  {% endif %}
  <div class="dccn-feed-item-id ml-auto">#{{ user_id }}</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="revokeModal-{{ user_id }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm reviewer revoke</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to revoke reviewer? If you proceed, {{ profile.num_reviews }} reviews will be lost.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{% url 'chair:revoke-reviewer' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}"
              method="POST">
          <button type="submit" class="btn btn-danger">Revoke</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endwith %}