{###########################################################################}
{# User feed item.                                                         #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `profile`: a Profile object annotate with:                            #}
{#     * full_name_rus                                                     #}
{#     * is_reviewer                                                       #}
{#     * num_reviews                                                       #}
{#     * num_incomplete_reviews                                            #}
{#     * num_submissions                                                   #}
{# - `list_view_url`: a URL of the list view that renders this card        #}
{###########################################################################}
{% load users_extras %}

{% with user_id=profile.user_id name=profile.get_full_name %}
  {#-----------------------------------------------------#}
  {# 1 Card top row: number of papers, indications, etc. #}
  {#-----------------------------------------------------#}
  <div class="dccn-feed-item-row align-items-center">
    <div class="ml-auto"></div>
    {# 1.1 Indicate whether this user is a student #}
    {% if profile|is_student %}
      <div class="dccn-feed-item-label mr-3" title="{{ profile.role }}" data-toggle="tooltip">
        <i class="fas fa-graduation-cap"></i>
      </div>
    {% endif %}

    {# 1.2 Indicate whether this user is a reviewer #}
    {% if profile.is_reviewer %}
      <div class="dccn-feed-item-label mr-3">
        <span data-toggle="tooltip"
              title="{{ name }} was assigned for {{ profile.num_reviews }} review{{ profile.num_reviews|pluralize }}">
          <i class="fas fa-glasses"></i> {{ profile.num_reviews }}
        </span>
        {% if profile.num_incomplete_reviews %}
          (<span title="{{ name }} hasn't completed {{ profile.num_incomplete_reviews }} review{{ profile.num_incomplete_reviews|pluralize }}"
                 class="text-danger-14" data-toggle="tooltip">{{ profile.num_incomplete_reviews }}</span>)
        {% endif %}
      </div>
    {% endif %}

    {# 1.3 Number of submissions #}
    {% if profile.num_submissions %}
      <div class="dccn-feed-item-label mr-3" data-toggle="tooltip"
           title="{{ name }} has {{ profile.num_submissions }} submission{{ profile.num_submissions|pluralize }}">
        <i class="far fa-copy"></i> {{ profile.num_submissions }}
      </div>
    {% endif %}
</div>

<div class="row">
  <div class="col-12 d-flex align-items-center">
    <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}">
      <img src="{{ profile.avatar.url }}" alt="{{ name }} profile image" class="rounded-circle img-fluid mr-3"
           style="width: 72px; height: 72px;">
    </a>
    <div>
      <h4 class="dccn-text-0">{{ profile.last_name }} {{ profile.first_name }}</h4>
      {% if profile.full_name_rus %}
        <p class="dccn-text-smaller text-muted">{{ profile.full_name_rus }}</p>
      {% endif %}
      <p class="dccn-text-smallest mt-1">{{ profile.get_country_display }}, {{ profile.city }}, {{ profile.affiliation }}</p>
      <p class="dccn-text-smallest mt-0 text-muted">{{ profile.degree }}, {{ profile.role }}{% if profile.ieee_member %}, IEEE member{% endif %}</p>
    </div>
  </div>
</div>


<div class="dccn-feed-item-footer mt-2">
  <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=user_id %}?next={{ request.get_full_path|urlencode }}"
     class="dccn-feed-item-link">
    <i class="fas fa-bars"></i> View
  </a>
  <form action="{% url 'chair_mail:compose-user' conf_pk=conference.pk %}" method="GET" class="mr-2">
    <input type="hidden" name="next" value="{{ list_view_url }}">
    <input type="hidden" name="objects" value="{{ user_id }}">
    <button class="btn btn-link dccn-feed-item-link">
      <i class="fas fa-envelope"></i> Contact
    </button>
  </form>

  {% if profile.is_reviewer %}
    <button class="btn btn-link dccn-feed-item-link" data-toggle="user-update" data-user-action="revoke-reviewer"
            data-target="{% url 'review:revoke-reviewer' conf_pk=conference.pk user_pk=user_id %}" data-user-name="{{ name }}">
      {% csrf_token %}
      <i class="far fa-times-circle"></i> Revoke reviewer
    </button>
  {% else %}
    <button class="btn btn-link dccn-feed-item-link" data-toggle="user-update" data-user-action="make-reviewer"
            data-target="{% url 'review:make-reviewer' conf_pk=conference.pk user_pk=user_id %}" data-user-name="{{ name }}">
      {% csrf_token %}
      <i class="fas fa-glasses"></i> Make a reviewer
    </button>
  {% endif %}

  <div class="dccn-feed-item-id ml-auto">#{{ user_id }}</div>
</div>
{% endwith %}
