{% extends "user_site/base.html" %}
{% load bootstrap4 %}

{% block title %}
  Profile | DCCN
{% endblock %}

{% block header %}
  {% include 'user_site/components/navigation.html' with active='profile' %}
{% endblock %}

{% block body %}
<main class="container py-3">
  <div class="dccn-layout-col">

    <div class="dccn-panel w-100">
      <h1 class="dccn-panel-title">Profile</h1>
      {% include 'users/components/profile_navigation.html' with active='professional' %}

      <div class="dccn-content p-4">
        <form action="" method="POST" novalidate>
          {% bootstrap_messages %}
          {% csrf_token %}
          {% bootstrap_field form.affiliation layout="horizontal" label_class='control-label col-md-5 col-lg-4 text-md-right text-left pr-0 pr-md-4' horizontal_field_class='col-md-7 col-lg-8' %}
          {% bootstrap_field form.degree layout="horizontal" label_class='control-label col-md-5 col-lg-4 text-md-right text-left pr-0 pr-md-4' horizontal_field_class='col-md-7 col-lg-8' %}
          {% bootstrap_field form.role layout="horizontal" label_class='control-label col-md-5 col-lg-4 text-md-right text-left pr-0 pr-md-4' horizontal_field_class='col-md-7 col-lg-8' %}
          {% bootstrap_field form.ieee_member layout="horizontal" label_class='control-label col-md-5 col-lg-4 d-none d-md-block' horizontal_field_class='col-md-7 col-lg-8' %}
          <div class="form-group row">
            <button type='submit' class="btn btn-outline-primary btn-sm">Save changes</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</main>
{% endblock %}
