{% extends "auth_app/base.html" %}
{% load bootstrap4 %}

{% block title %}
Email sent
{% endblock %}

{% block header %}
Password reset link was sent
{% endblock %}

{% block dialogCard %}

  <p class="dccn-text pt-3">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p class="dccn-text pt-2">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <p class="text-center pt-3">
    <a class="btn btn-outline-success btn-block" href="{% url 'home' %}">Back to main page</a>
  </p>
{% endblock %}
