{% extends "auth_app/base.html" %}
{% load bootstrap4 %}

{% block title %}
Set new password
{% endblock %}

{% block header %}
  {% if validlink %}Set New Password{% else %}Invalid Link{% endif %}
{% endblock %}

{% block dialogCard %}
  {% if validlink %}
    <form action="" method="POST" class="pb-3" novalidate>
      {% bootstrap_form form %}
      {% csrf_token %}
      <input type="submit" class="btn btn-success btn-block" value="Save password">
    </form>
  {% else %}
    <p class="dccn-text pb-3">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new <a href="{% url 'password_reset' %}" class="dccn-link">password reset</a>.
    </p>
  {% endif %}
{% endblock %}

{% block dialogFooter %}
  <div class="dccn-panel mt-3 py-2">
    <p class="text-center dccn-text"><a href="{% url 'home' %}" class="dccn-link">Back to main page</a></p>
  </div>
{% endblock %}
