{% extends "auth_app/base.html" %}
{% load bootstrap4 %}

{% block title %}
Success!
{% endblock %}

{% block header %}
Password was reset
{% endblock %}

{% block dialogCard %}
  <p class="dccn-text pb-3">
    Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="dccn-link">sign in</a> now.
  </p>
{% endblock %}

{% block dialogFooter %}
  <div class="dccn-panel mt-3 py-2">
    <p class="text-center dccn-text"><a href="{% url 'home' %}" class="dccn-link">Back to main page</a></p>
  </div>
{% endblock %}
