{% extends "auth_app/base.html" %}
{% load bootstrap4 %}

{% block title %}
Reset Password
{% endblock %}

{% block header %}
Reset Password
{% endblock %}

{% block dialogCard %}
  <form action="" method="POST" class="py-3" novalidate>
    {% bootstrap_messages %}
    {% bootstrap_field form.email placeholder="Email you used during registration" show_label=False %}
    {% csrf_token %}
    <input type="submit" class="btn btn-success btn-block" value="Reset">
    <small class="form-text text-muted">
      After you press the button we will send a password reset link to the email you provided.
      Please note that the email must be the same as you provided during sign up.
    </small>
  </form>
{% endblock %}
