{% extends "auth_app/base.html" %}
{% load bootstrap4 %}

{% block title %}
Sign Up
{% endblock %}

{% block header %}
Sign Up
{% endblock %}

{% block dialogCard %}
  <form action="{% url 'signup' %}" method="POST" class="pb-3" id="signUpForm" novalidate>
    {% csrf_token %}
    {% bootstrap_messages %}
    {% bootstrap_field form.email placeholder="Enter your valid email" %}
    {% bootstrap_field form.password1 placeholder="Enter a password" %}
    {% bootstrap_field form.password2 placeholder="Re-type a password" %}
    <button type="button" class="g-recaptcha btn btn-success btn-block" data-sitekey="{{ site_key }}" data-callback='onSubmit' id="signUpBtn">Submit</button>
  </form>
{% endblock %}

{% block dialogFooter %}
  <div class="dccn-panel mt-3 py-2">
    <p class="text-center dccn-text">
      <a href="{% url 'login' %}" class="dccn-link">Sign In</a> if you already have an account
    </p>
  </div>
{% endblock %}

{% block script %}
  <!--suppress JSUnresolvedLibraryURL -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function onSubmit(token) {
  document.getElementById("signUpForm").submit();
}

function addClass(elem, klass) {
  if (!elem.hasClass(klass)) elem.addClass(klass);
}
</script>
{% endblock %}