<div class="dropdown-select-submit">
  <div class="dropdown">
    <button class="btn btn-link dccn-link dropdown-toggle {{ widget.label_class }} {% if widget.empty %}{{ widget.empty_label_class }}{% else %}{{ widget.nonempty_label_class }}{% endif %}"
            data-toggle="dropdown" type="button">
      {{ widget.label }}
    </button>
    <div class="dropdown-menu">
      {% for group, options, index in widget.optgroups %}
        {% for option in options %}
          <button class="dropdown-item dccn-text-small px-3 py-1 {% if not option.value %}{{ widget.empty_label_class }}{% endif %}"
                  data-update-select="{{ option.value }}" type="button">
            {{ option.label }}
          </button>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <select name="{{ widget.name }}" hidden>
    {% for group, options, index in widget.optgroups %}
      {% for option in options %}
        <option value="{{ option.value }}" {% if option.selected %}selected{%endif %}>{{ option.label }}</option>
      {% endfor  %}
    {% endfor %}
  </select>
</div>
