{% extends 'chair/base/_chair_base.html' %}

{% block smallScreenBreadcrumbNav %}
<div class="d-flex ml-2 d-md-none">

  <nav class="breadcrumb flex-fill">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'chair:home' pk=conference.pk %}">{{ conference.short_name }}</a></li>

      {% block chairCrumbItemsSmall %}
      {% endblock %}

    </ol>
  </nav>

  <button class="btn btn-link dccn-link dccn-text-5 p-2" data-toggle="collapse" data-target="#chairNav"><i class="fas fa-bars"></i></button>
</div>
{% endblock %}




{% block chairWorkspaceContent %}
<div class="dccn-panel py-0 d-none d-md-block">
  <nav class="breadcrumb flex-fill">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'chair:home' pk=conference.pk %}">{{ conference.short_name }}</a></li>

      {% block chairCrumbItemsLarge %}
      {% endblock %}

    </ol>
  </nav>
</div>

<div class="dccn-chair-workspace-main">
  {% block mainPanelContent %}
  {% endblock %}
</div>
{% endblock %}
