{#-------------------------------------------------#}
{# CONTEXT:                                        #}
{# - next: URL to go to if close button is clicked #}
{#-------------------------------------------------#}
{% extends 'chair/base/_chair_base.html' %}
{% load bootstrap4 %}


{% block header %}
  {% include 'user_site/components/navigation.html' with active='' %}
{% endblock %}


{% block chairWorkspaceContent %}
<div class="dccn-panel dccn-chair-workspace-main dccn-panel-screen mt-0" style="min-height: 100vh;">

  <div class="dccn-panel-header">
    <h1 class="dccn-panel-title">{% block viewPanelTitle %}{% endblock %}</h1>
    <a href="{{ next }}" class="dccn-panel-close-btn"><i class="fas fa-times fa-2x"></i></a>
  </div>

  <div class="dccn-panel-body">
    {% bootstrap_messages %}

    {% block viewPanelBody %}
    {% endblock %}
  </div>
</div>
{% endblock %}
