{###########################################################################}
{# Base for chair pages providing paged lists of items.                    #}
{#                                                                         #}
{# BLOCKS:                                                                 #}
{# - `listViewContent`: this block shold contains list items.              #}
{#                                                                         #}
{# INHERITED BLOCKS:                                                       #}
{# - `smallScreenBreadcrumbItems`                                          #}
{# - `largeScreenBreadcrumbItems`                                          #}
{# - `navigation`: left-side navigation.                                   #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `page`: a `Page` object                                               #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{###########################################################################}
{% extends 'chair/base/generic_page.html' %}
{% load gears_extras %}

{#---------------------------------------------------------------------------#}
{# Main content                                                              #}
{#---------------------------------------------------------------------------#}
{% block content %}
  {% with paginator=page.paginator %}
    <div class="dccn-panel-toolbar mt-2">
      {% block toolbar %}
      {% endblock %}

      <p class="dccn-text-smaller-light mb-1 mt-0">
        {{ paginator.count }}&nbsp;items found{% if paginator.count > 0 %}, showing from {{ page.start_index }} to {{ page.end_index }}{% endif %}
      </p>

      {# Top row navigation #}
      <div class="row">

        {# Go to previous page: #}
        {% if page.has_previous %}
          <a href="?{% update_param request page=page.previous_page_number %}" class="btn btn-outline-secondary btn-sm mr-auto">
            <i class="fas fa-chevron-left"></i>
          </a>
        {% else %}
          <a href="#" class="btn btn-outline-secondary btn-sm mr-auto disabled"><i class="fas fa-chevron-left"></i></a>
        {% endif %}

        {# Go the next page: #}
        {% if page.has_next %}
          <a href="?{% update_param request page=page.next_page_number %}" class="btn btn-outline-secondary btn btn-sm ml-auto">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% else %}
          <a href="#" class="btn btn-outline-secondary btn-sm ml-auto disabled"><i class="fas fa-chevron-right"></i></a>
        {% endif %}
      </div>
      {# --- end of top row navigation --- #}
    </div>

    {% block listViewContent %}
      {# Put list content here! #}
    {% endblock %}

    <nav>
      {# Bottom row page navigation: #}
      <ul class="pagination d-flex justify-content-center flex-wrap">
        {# 1) Go to the first page: #}
        <li class="page-item {% if page.number == 1 %}disabled{% endif %}">
          <a class="page-link" href="?{% update_param request page=1 %}">
            <i class="fas fa-angle-double-left"></i>
          </a>
        </li>

        {# 2) Go to the previous page: #}
        {% if page.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% update_param request page=page.previous_page_number %}">
              <i class="fas fa-angle-left"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
        {% endif %}

        {# 3) List all pages: #}
        {% for page_index in paginator.page_range %}
          <li class="page-item {% if page_index == page.number %}active{% endif %}">
            <a href="?{% update_param request page=page_index %}" class="page-link">{{ page_index }}</a>
          </li>
        {% endfor %}

        {# 4) Go to the next page: #}
        {% if page.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% update_param request page=page.next_page_number %}">
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        {% endif %}

        {# 5) Go to the last page: #}
        <li class="page-item {% if page.number == paginator.num_pages %}disabled{% endif %}">
          <a class="page-link" href="?{% update_param request page=paginator.num_pages %}">
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  {% endwith %}
{% endblock %}


{% block script %}
<script>
const detailedFilter = $('#detailedFilterFormFields');
const detailedFilterTogglerIcon = $('#detailedFilterFormToggler i');

detailedFilter.on('hidden.bs.collapse', function () {
  detailedFilterTogglerIcon.removeClass('fa-chevron-down');
  detailedFilterTogglerIcon.addClass('fa-chevron-right');
});

detailedFilter.on('shown.bs.collapse', function () {
  detailedFilterTogglerIcon.removeClass('fa-chevron-right');
  detailedFilterTogglerIcon.addClass('fa-chevron-down');
});

$('.clear-cb-btn').on('click', function () {
  const parent = $(this).parent().parent();
  parent.find('.form-check input').prop('checked', false);
});

$('.select-all-cb-btn').on('click', function () {
  const parent = $(this).parent().parent();
  parent.find('.form-check input').prop('checked', true);
});

$(document).ready(function () {
  const formFilled = detailedFilter.attr('data-form-filled') === 'True';
  if (formFilled) {
    detailedFilter.collapse('show');
  } else {
    detailedFilter.collapse('hide');
  }
});

// Get modal body content on modal show:
const modals = $('.modal[data-src]');
modals.on('show.bs.modal', function () {
  const thisModal = $(this);
  $(this).find('.modal-body').load(thisModal.attr('data-src'));
});
</script>

{% block listPageScript %}
{% endblock %}

{% endblock %}