{###########################################################################}
{# Decision control panel.                                                 #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `conf_pk`                                                             #}
{# - `sub_pk`                                                              #}
{# - `form_data`: form data object for decision control                    #}
{###########################################################################}
{% load review_extras %}
<form action="{% url 'chair:review-decision-control' conf_pk=conf_pk sub_pk=sub_pk %}" method="POST"
      id="updateDecisionForm_{{ sub_pk }}" class="decision-control-form" novalidate>
  {% csrf_token %}
  <input type="hidden" name="decision" value="{{ form_data.decision.value }}">
  <input type="hidden" name="proc_type" value="{{ form_data.proc_type.value }}">
  <input type="hidden" name="volume" value="{{ form_data.volume.value }}">
</form>
{% if not form_data.decision.hidden %}
<div>
  <b>Decision: </b>
  <span class="dropdown-left">
    <a href="#" data-toggle="dropdown"
       class="dccn-link font-weight-normal text-{{ form_data.decision.value|decision_color_class }}">
      {{ form_data.decision.display }} <i class="{{ form_data.decision.value|decision_icon_class }}"></i>
    </a>
    <span class="dropdown-menu">
      {% for option in form_data.decision.options %}
        <button class="dropdown-item {% if form_data.decision.value == option.0 %}font-weight-bold{% endif %}"
                data-form-id="#updateDecisionForm_{{ sub_pk }}" data-name="decision" data-value="{{ option.0 }}">
          {{ option.1 }}
        </button>
      {% endfor %}
    </span>
  </span>
</div>
{% endif %}
{% if not form_data.proc_type.hidden %}
<div class="mt-1">
  <b>Proceedings: </b>
  <span class="dropdown">
    <a href="#" data-toggle="dropdown"
       class="dccn-link font-weight-normal text-{{ form_data.proc_type.value|decision_color_class }}">
      {{ form_data.proc_type.display }}
    </a>
    <span class="dropdown-menu">
      {% for option in form_data.proc_type.options %}
        <button class="dropdown-item" data-form-id="#updateDecisionForm_{{ sub_pk }}" data-name="proc_type"
                data-value="{{ option.0 }}">{{ option.1 }}</button>
      {% endfor %}
    </span>
  </span>
</div>
{% endif %}
{% if not form_data.volume.hidden %}
<div class="mt-1">
  <b>Volume: </b>
  <span class="dropdown">
    <a href="#" data-toggle="dropdown"
       class="dccn-link font-weight-normal text-{{ form_data.volume.value|decision_color_class }}">
      {{ form_data.volume.display }}
    </a>
    <span class="dropdown-menu">
      {% for option in form_data.volume.options %}
        <button class="dropdown-item" data-form-id="#updateDecisionForm_{{ sub_pk }}" data-name="volume"
                data-value="{{ option.0 }}">{{ option.1 }}</button>
      {% endfor %}
    </span>
  </span>
</div>
{% endif %}
<div class="d-flex mt-2 align-items-center">
  <form action="{% url 'chair:review-decision-commit' conf_pk=conf_pk sub_pk=sub_pk %}" method="POST" class="mr-2"
        novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
    <input class="btn btn-sm btn-outline-info {% if form_data.committed %}disabled{% endif %}" type="submit"
           value="Commit" {% if form_data.committed %}disabled{% endif %}>
  </form>
  {% if not form_data.committed %}
  <p class="font-weight-bold my-0 ml-auto text-warning-15">
    <i class="fas fa-exclamation-circle"></i> changes not committed
  </p>
  {% endif %}
</div>
