{###########################################################################}
{# Submissions list paged view.                                            #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `items`: a sequence of submission describing objects                  #}
{# - `filter_form`: a submissions filter form                              #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `num_items`: number of items shown on the page.                       #}
{# - `curr_page`: index (1-based) of the current page.                     #}
{# - `page_urls`: a list of all pages URLs.                                #}
{# - `first_index`: index (1-based) of the first item being shown.         #}
{# - `last_index`: index (1-based) of the last item being shown.           #}
{# - `prev_page_url`: URL of the previous page, if exists.                 #}
{# - `next_page_url`: URL of the next page, if exists.                     #}
{# - `first_page_url`: URL of the first page, if exists.                   #}
{# - `last_page_url`: URL of the last page, if exists.                     #}
{# - `conference`: conference identifier                                   #}
{#                                                                         #}
{# Each item should is expected to have the following fields:              #}
{# - `pk`: submission ID                                                   #}
{# - `status`: submission status                                           #}
{# - `status_display`:  #}
{# - `warnings` #}
{# - `average_score` #}
{# - `actions`: (`review`, `revoke_review`, `assign_reviewers`) #}
{# - `title` #}
{# - `authors` #}
{# - `num_reviews` #}
{# - `num_reviews_required` #}
{###########################################################################}
{% extends 'chair/base/list_page.html' %}
{% load gears_extras %}
{% load bootstrap4 %}
{% load submission_extras %}
{% load static %}

{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='reviews' %}
{% endblock %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">reviews</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">reviews</li>
{% endblock %}


{% block toolbar %}
{#  FIXME: export not working now, should rebuild its view controller (Python) #}
{#  <div class="my-3 d-flex">#}
{#    <form action="{% url 'chair:export-reviews-doc' conf_pk=conference.pk %}" method="GET">#}
{#      <button type="submit" class="btn btn-outline-primary">Export .docx</button>#}
{#    </form>#}
{#  </div>#}
{% endblock %}

{#---------------------------------------------------------------------------#}
{# List view content                                                         #}
{#---------------------------------------------------------------------------#}
{% block listViewContent %}
{% for item in items %}
  <div class="dccn-feed-item pb-3" data-html-src="{% url 'chair:reviews-list-item-html' conf_pk=conference.pk sub_pk=item %}">
  </div>
{% endfor %}
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Script                                                                    #}
{#---------------------------------------------------------------------------#}
{% block listPageScript %}
{#  Put additional JS script here if needed #}
  <script src="{% static 'chair/js/review_decision_control.js' %}"></script>
  <script>
$(document).ready(() => {
  $.fn.loadHtml = function () {
  };

  $('[data-html-src]').each(function () {
    const div = $(this);
    const url = div.attr('data-html-src');
    console.log('Sending data request to ', url);
    $.get(url, data => {
      div.html(data);
    });
  });
});
  </script>
{% endblock %}
