{###########################################################################}
{# Submissions list paged view.                                            #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `items`: a sequence of submission describing objects                  #}
{# - `filter_form`: a submissions filter form                              #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `num_items`: number of items shown on the page.                       #}
{# - `curr_page`: index (1-based) of the current page.                     #}
{# - `page_urls`: a list of all pages URLs.                                #}
{# - `first_index`: index (1-based) of the first item being shown.         #}
{# - `last_index`: index (1-based) of the last item being shown.           #}
{# - `prev_page_url`: URL of the previous page, if exists.                 #}
{# - `next_page_url`: URL of the next page, if exists.                     #}
{# - `first_page_url`: URL of the first page, if exists.                   #}
{# - `last_page_url`: URL of the last page, if exists.                     #}
{# - `conference`: conference identifier                                   #}
{#                                                                         #}
{# Each item should is expected to have the following fields:              #}
{# - `pk`: submission ID                                                   #}
{# - `status`: submission status                                           #}
{# - `status_display`:  #}
{# - `warnings` #}
{# - `average_score` #}
{# - `actions`: (`review`, `revoke_review`, `assign_reviewers`) #}
{# - `title` #}
{# - `authors` #}
{# - `num_reviews` #}
{# - `num_reviews_required` #}
{###########################################################################}
{% extends 'chair/base/list_page.html' %}
{% load gears_extras %}
{% load bootstrap4 %}
{% load submission_extras %}
{% load static %}

{#---------------------------------------------------------------------------#}
{# Navigation and breadcrumbs                                                #}
{#---------------------------------------------------------------------------#}
{% block navigation %}
  {% include 'chair/components/navigation.html' with active='reviews' %}
{% endblock %}

{% block smallScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">reviews</li>
{% endblock %}

{% block largeScreenBreadcrumbItems %}
  <li class="breadcrumb-item active">reviews</li>
{% endblock %}


{% block toolbar %}
{#  FIXME: export not working now, should rebuild its view controller (Python) #}
{#  <div class="my-3 d-flex">#}
{#    <form action="{% url 'chair:export-reviews-doc' conf_pk=conference.pk %}" method="GET">#}
{#      <button type="submit" class="btn btn-outline-primary">Export .docx</button>#}
{#    </form>#}
{#  </div>#}
{% endblock %}

{#---------------------------------------------------------------------------#}
{# List view content                                                         #}
{#---------------------------------------------------------------------------#}
{% block listViewContent %}
{% for item in items %}
  <div class="dccn-feed-item pb-3" data-html-src="{% url 'chair:reviews-list-item-html' conf_pk=conference.pk sub_pk=item %}">
  </div>
{% endfor %}
{% endblock %}


{#---------------------------------------------------------------------------#}
{# Filter                                                                    #}
{#---------------------------------------------------------------------------#}
{% block filter %}
  <div class="dccn-chair-workspace-filter">
    <form action="{% url 'chair:reviews' conf_pk=conference.pk %}" method="GET" class="m-2">
      {% bootstrap_field filter_form.term show_label=False bound_css_class='' %}

      <a href="#detailedFilterFormFields" class="d-block dccn-link mb-3" data-toggle="collapse" id="detailedFilterFormToggler">
        <i class="fas fa-chevron-right"></i>&nbsp; Detailed filter
      </a>

      <div class="collapse" id="detailedFilterFormFields" data-form-filled="{{ filter_form.has_changed }}">
        <div class="form-group">
          <div class="dccn-text-0">Quartiles
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.quartiles }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Decisions
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.decisions }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Completion
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.completion }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Proc. types
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.proc_types }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Language
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.sub_types }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Volumes
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.volumes }}
        </div>

        <div class="form-group">
          <div class="dccn-text-0">Status
            (<button type="button" class="btn btn-link dccn-link dccn-text-small clear-cb-btn">clear</button>,
            <button type="button" class="btn btn-link dccn-link dccn-text-small select-all-cb-btn">select all</button>):
          </div>
          {{ filter_form.status }}
        </div>

      </div>
      <div class="form-group mt-2">
        <button type="submit" class="btn btn-outline-info">Apply</button>
        <a href="{% url 'chair:reviews' conf_pk=conference.pk %}" class="btn btn-link dccn-link ml-3">Clear filter</a>
      </div>

    </form>
  </div>
{% endblock %}



{#---------------------------------------------------------------------------#}
{# Script                                                                    #}
{#---------------------------------------------------------------------------#}
{% block listPageScript %}
{#  Put additional JS script here if needed #}
  <script src="{% static 'chair/js/review_decision_control.js' %}"></script>
  <script>
$(document).ready(() => {
  $.fn.loadHtml = function () {
  };

  $('[data-html-src]').each(function () {
    const div = $(this);
    const url = div.attr('data-html-src');
    console.log('Sending data request to ', url);
    $.get(url, data => {
      div.html(data);
    });
  });
});
  </script>
{% endblock %}
