{###########################################################################}
{# Compose email view base.                                                #}
{# It defines everything except for controls for preview since it depends  #}
{# on particular message type.                                             #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `destination_name`: name of the mail destination                      #}
{# - `form`                                                                #}
{# - `variables`                                                           #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `next`: URL where to go after this preview is closed.                 #}
{###########################################################################}
{% extends "chair/base/preview_page.html" %}
{% load bootstrap4 %}
{% load static %}

{% block panelTitle %}
  Compose message to {{ destination_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'codemirror/theme/monokai.css' %}">
  <link rel="stylesheet" href="{% static 'codemirror/addon/scroll/simplescrollbars.css' %}">
  <style>
  .CodeMirror {
    min-height: 60vh;
  }
  .tab-content {
    min-height: 60vh;
  }
  </style>
  {% block composeMessageStyle %}
  {% endblock %}
{% endblock %}

{% block content %}
  <form id="newMessageForm" method="POST" novalidate>
    {% csrf_token %}
    {# Next (hidden field) #}
    <input type="hidden" name="next" id="id_next" value="{{ next }}" form="newMessageForm">
    {# Subject field #}
    <div class="form-group">
      {% bootstrap_field form.subject show_label=False %}
    </div>

    {####################}
    {# LETTER BODY AREA #}
    {####################}
    <ul class="nav nav-tabs mt-4">
      <li class="nav-item"><a class="nav-link active" href="#md-tab" data-toggle="tab" role="tab">Markdown</a></li>
      <li class="nav-item"><a class="nav-link text-secondary" href="#preview-tab" data-toggle="tab" role="tab">Preview</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="md-tab">
        {% bootstrap_field form.body show_label=False %}
      </div>
      <div class="tab-pane fade" id="preview-tab">
        <div class="form-group my-3">
          {% block previewControls %}
          {% endblock %}
        </div>
        <div id="preview-box">
        </div>
      </div>
    </div>
  </form>

  {# Help text #}
  <div class="form-text text-muted dccn-text-small">
    <p>
      You can use Markdown for formatting
      (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
          target="_blank">cheatsheet <i class="fas fa-external-link-alt"></i></a>).
      You can use variables, e.g. <strong>{% verbatim %}{{ var }}{% endverbatim %}</strong>
      and conditionals like <strong>{% verbatim %}{% if var == 0 %} ... {% endif %}{% endverbatim %}</strong>.
      If you need pluralization, use <strong>{% verbatim %}{{ var|pluralize }}{% endverbatim %}</strong>.
      <a href="#availableVars" data-toggle="collapse">Show available variables...</a>
    </p>
    <ul class="collapse" id="availableVars">
      {% for var in variables %}
        <li><span class="text-info font-weight-bold">{{ var.0 }}</span>: {{ var.1 }}</li>
      {% endfor %}
    </ul>
  </div>

  {# Action buttons #}
  <div class="form-group d-flex">
    <button type="submit" class="btn btn-primary" id="sendMessageButton" formaction="{{ actions.send }}">
      Send message
    </button>
    <a href="{{ next }}" class="btn btn-outline-secondary ml-auto">Cancel</a>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/addon/scroll/simplescrollbars.js' %}"></script>
<script src="{% static 'scripts/require.js' %}" data-main="{% static '' %}"></script>
<script>
$(document).ready(function () {
  requirejs([
    'codemirror/lib/codemirror', 'codemirror/mode/markdown/markdown', 'codemirror/addon/scroll/simplescrollbars'
  ], function (CodeMirror) {
    CodeMirror.fromTextArea(document.getElementById('id_body'), {
      mode: 'markdown',
      theme: 'monokai',
      highlightFormatting: true,
      scrollbarStyle: "simple",
      lineWrapping: true,
    });
  });
});
</script>
{% block composeMessageScript %}
{% endblock %}
{% endblock %}

