{###########################################################################}
{# Sent email instance view. Provides the actual rendered message sent     #}
{# to a given user.                                                        #}
{#                                                                         #}
{# CONTEXT:                                                                #}
{# - `msg`: `EmailMessageInstance` object                                  #}
{#                                                                         #}
{# INHERITED CONTEXT:                                                      #}
{# - `conference`                                                          #}
{# - `active_tab`: value of `active` context variable for tab navigation   #}
{# - `template`: the default conference email template                     #}
{# - `next`: URL where to go after this preview is closed.                 #}
{###########################################################################}
{% extends "chair/base/preview_page.html" %}
{% load bootstrap4 %}
{% load submission_extras %}

{% block css %}
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <style>
  #message-editor .ql-editor {
    padding: 12px 15px !important;
  }
  </style>
{% endblock %}

{% block panelTitle %}
  {{ msg.subject }}
{% endblock %}

{% block content %}
{% with group_msg=msg.group_message %}
{% with template=group_msg.template %}
{% with receiver=msg.user_to %}
  <div>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sender:</span>
      {{ msg.sent_by.profile.get_full_name }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">To:</span>
      <a href="{% url 'chair:user-overview' conf_pk=conference.pk user_pk=receiver.pk %}">{{ receiver.profile.get_full_name }}</a>
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Sent at:</span>
      {{ msg.sent_at|date:"d.m.Y G:i" }}
    </p>
    <p class="dccn-text-smaller">
      <span class="font-weight-bold">Message type:</span>
      {{ template.msg_type }}
    </p>

    <hr>

    <div data-source="{% url 'chair_mail:instance-details' conf_pk=conference.pk msg_pk=msg.pk %}" data-attr="text_html"
         class="dccn-embed-html">
      <div class="dccn-embed-box"></div>
    </div>
  </div>

  <hr>

  <div class="d-flex">
    <a href="{{ next }}" class="btn btn-sm btn-outline-primary">Close</a>
    <button class="btn btn-sm btn-info ml-2" data-toggle="modal" data-target="#templateModal">Show template</button>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="templateModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">  <!-- this form is never submitted, just to organize fields better -->
            <div class="form-group">
              <label for="templateSubject" class="form-label">Subject:</label>
              <input type="text" name="template_subject" class="form-control" id="templateSubject"
                     value="{{ template.subject }}" readonly>
            </div>
            <div class="form-group mt-3">
              <label for="templateEditor" class="form-label">Template text:</label>
              <div id="templateEditor" class="border px-3 py-2 dccn-text-small">
                <pre>{{ template.body|safe }}</pre>
              </div>
            </div>
          </form>
          <p class="mt-3 dccn-text-small font-weight-bold">
            {% with num_sent=group_msg.users_to.all.count %}
              Sent
              <a href="{% url 'chair_mail:message-details' conf_pk=conference.pk msg_pk=group_msg.pk %}" target="_blank">
                {{ num_sent }} instance{{ num_sent|pluralize }}
            </a>
            {% endwith %}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}

{% block script %}
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
$(document).ready(function () {

  (function ($) {
    $.fn.dccnEmbedHtml = function () {
      const elem = this;
      const box = this.find('.dccn-embed-box');
      $.get(elem.attr('data-source'), function (data) {
        box.html($.parseHTML(data[elem.attr('data-attr')]));
      });
    };

    //////////////////////////////
    // Associating the plugins
    $('.dccn-embed-html').dccnEmbedHtml();
  }(jQuery));
});
</script>
{% endblock %}
