{########################################################################}
{# Review decision selection controls implemented as dropdowns.         #}
{# Pressing at any button (in the dropdown menu) causes a modal dialog, #}
{# after accepting which review decision is written and submission      #}
{# status is changed.                                                   #}
{#                                                                      #}
{# CONTEXT:                                                             #}
{# - decision: ReviewDecision model instance                            #}
{# - decision_types: an iterable with possible decision types           #}
{# - icon_class: class to attach to an icon in the toggler              #}
{# - label: a label at the toggler                                      #}
{# - dropdown_class: a string with space-separated classes attached to  #}
{#       the dropdown toggler button.                                   #}
{# - item_class: classes attached to menu items.                        #}
{#                                                                      #}
{# REQUIRES SCRIPTS:                                                    #}
{# - 'chair/js/submission-action.js'                                    #}
{########################################################################}
<div class="dropdown ml-2">
  <button class="btn {{ dropdown_class }} dropdown-toggle" data-toggle="dropdown">
    <i class="{{ icon_class }}"></i> {{ label }}
  </button>
  <div class="dropdown-menu">
    {% for dt in decision_types %}
      <button class="dropdown-item dccn-text-normal {{ item_class }} py-2 px-3"
              data-toggle="submission-review-decision"
              data-review-decision="{{ dt.description }}"
              data-decision-value="{{ dt.decision|lower }}"
              data-decision-type-id="{{ dt.id }}"
              data-target="{% url 'review:update-decision' decision_id=decision.id %}">
        {% csrf_token %}
        {{ dt.description }}
      </button>
    {% endfor %}
  </div>
</div>
