{% extends 'auth_app/email/email_base.html' %}

{% block title %}
  Welcome to DCCN
{% endblock %}

{% block subject %}
  Invitation to DCCN Conference Registration System
{% endblock %}

{% block body %}
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Dear {{ first_name }} {{ last_name }}
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  your colleague {{ sender.profile.get_full_name }} wants to invite you to take part in {{ conference.short_name }} conference and to add you as a co-author of the submission #{{ submission.pk }} "{{ submission.title }}".
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  You can create an account via <a href="{{ protocol }}://{{ domain }}{% url 'signup' %}">{{ protocol }}://{{ domain }}{% url 'signup' %}</a>.
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  If you already have an account, please <a href="{{ protocol }}://{{ domain }}{% url 'login' %}">login</a>.
</p>

{% endblock %}