{# ==================================================#}
{# CONTEXT:                                          #}
{#                                                   #}
{# * user                                            #}
{# * numSubmissions                                  #}
{# * numReviews                                      #}
{# ==================================================#}
<div class="dccn-panel dccn-panel-user">
  <img src="{{ user.profile.avatar.url }}" alt="avatar" class="mt-3 align-self-center d-block mr-3 mx-lg-auto rounded-circle" style="width: 120px;">
  <ul class="list-unstyled">
    <li class="dccn-title">{{ user.profile.get_full_name }}</li>
    <li class="dccn-text">{{ user.profile.affiliation }}</li>
    <li class="dccn-text">{{ user.profile.role }}{% if user.profile.role != "" and user.profile.degree != "" %},{% endif %} {{ user.profile.degree }}</li>
    <li class="dccn-text mt-2"><a href="{% url 'profile-overview' %}" class="dccn-link">Edit Profile...</a></li>
  </ul>
  <hr class="d-none d-lg-block">
  <ul class="list-unstyled mt-lg-1 ml-auto ml-lg-0">
    <li class="dccn-text-normal">
      <span class="dccn-text-large-light">{{ numSubmissions }}</span> <a href="#" class="dccn-link">submissions</a>
    </li>
    <li class="dccn-text-normal">
      <span class="dccn-text-large-light">{{ numReviews }}</span> <a href="#" class="dccn-link">incomplete reviews</a>
    </li>
  </ul>
</div>
